{# <?php ?> #}
{% extends 'default.twig' %}
{% block content %}
<!-- start main area -->
<section id="mainArea">
    <div class="container">
        <div class="section-title">
                Configuraci&oacute;n
        </div>
        <div class="row mtop">
            <div class="col-md-3 mtop">
                <div id="conf-menu-wrapper">
                    <h5 class="pink"><i class="fa fa-pencil-square-o"></i>
					Crear contrase&ntilde;a					
					</h5>
                </div>
            </div>
            <div class="col-md-1">
                <img src="{{ Core.Domains.theme }}images/barra.png"/>
            </div>
            <div class="col-md-8" id="slider-wrapper">
				<form id="changePass" method="post" action="">
                <div class="row mtop">
                    <div class="col-md-4 taright">
                        <span class="fieldscuestionarios">
						Contrase&ntilde;a:					
						</span>
                    </div>
                    <div class="col-md-8">
                        <div id="conf-content-wrapper">
                                <input class="inputssettings" type="password" name="user[pass]" id="userPassword"/>
                        </div>
                    </div>
                </div>
                <div class="row mtop">
                    <div class="col-md-4 taright">
                        <span class="fieldscuestionarios">Confirmar contrase&ntilde;a:</span>
                    </div>
                    <div class="col-md-8">
                        <div id="conf-content-wrapper">
                                <input class="inputssettings" type="password" name="user[confirm_pass]" id="userPassword"/>
                        </div>
                    </div>					
                </div>
				{% if Data.error %}
				<div class="row mtop">
                    <div class="col-md-11">
					<div class="alert alert-danger">
	                    {{Data.error}}
                	</div>
				</div>					
				{% endif %}
                {% if Data.success %}
                <div class="row mtop">
                    <div class="col-md-11">
                    <div class="alert alert-success">
                        {{Data.success}} <a href="{{ Core.Domains.core }}web/acceso/redirect"><strong>Ingresa</strong></a>
                        <script type="text/javascript">
                            window.setTimeout(function(){
                                window.location = '{{ Core.Domains.core }}web/acceso/redirect';   
                            }, 3000 );
                        </script>
                    </div>
                </div>                  
                {% endif %}				
                <div class="row mtop">
					<div class="col-md-12 taright">					
						<button class="btn mtop btnpassword" type="button" id="createPassBtn">
						Crear contrase&ntilde;a
						</button>
					</div>
                </div>
				</form>
            </div>
        </div>
    </div>
</section>
<!-- end main area -->
{% endblock %}