{# <?php ?> #}
		<form id="companyForm">
			<input type="hidden" class="inputs" value="{{Data.id}}" name="company[id]"/>
			
			<div class="row input">
				<div class="col-md-12">
					<label>Calle<span class="requeridos">*</span></label>
				
					<input type="text" class="form-control required" value="{{Data.street}}" name="company[street]">
				</div>
			</div>
			<div class="row input">
				<div class="col-md-12">
					<label>C&oacute;digo Postal<span class="requeridos">*</span></label>
									
					<input type="text" class="form-control required number" id="zip_code" maxlength="5" value="{{Data.zip_code}}" name="company[zip_code]">
				</div>
			</div>
			<div class="row input">
				<div class="col-md-12">
					<label>Delegaci&oacute;n<span class="requeridos">*</span></label>
									
					<input type="hidden" class="inputs" value="{{Data.id_delegation}}" id="id_delegation"/>
					<select class="required form-control" id="delegations" disabled="disabled" name="company[id_delegation]">
						<option value="">Delegaci&oacute;n</option>
					</select>
				</div>
			</div>
			<div class="row input">
				<div class="col-md-12">
					<label>Colonia<span class="requeridos">*</span></label>
									
					<input type="hidden" class="inputs" value="{{Data.id_colony}}" id="id_colony"/>
					<select class="required form-control" id="colonies" disabled="disabled" name="company[id_colony]">
						<option value="">Colonia</option>
					</select>
				</div>
			</div>
			<div class="row input">
				<div class="col-md-12">
					<label>N&uacute;mero<span class="requeridos">*</span></label>
				
					<div class="row">
						<div class="col-md-6">
							<input type="text" class="form-control required number" placeholder="Exterior" name="company[outside_number]" value="{{Data.outside_number}}">
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Interior" name="company[internal_number]" value="{{Data.internal_number}}">
						</div>
					</div>
				</div>
			</div>
			<div class="row input">
				<div class="col-md-12">
					<label>Entre calles</label>
									
					<input type="text" class="form-control" name="company[between_streets]" value="{{Data.between_streets}}" alt="Por favor introduce solo n&uacute;meros" title="Por favor introduce solo n&uacute;meros">										
				</div>
			</div>
			<div class="row input">
				<div class="col-md-12">
					<label>Tel&eacute;fono fijo</label>
				
					<input type="text" class="form-control number" name="company[phone_number]" value="{{Data.phone_number}}" alt="Por favor introduce solo n&uacute;meros" title="Por favor introduce solo n&uacute;meros">
				</div>
			</div>
			<div class="row input">
				<div class="col-md-12">
					<label>Tel&eacute;fono m&oacute;vil</label>
				
					<input type="text" class="form-control number" name="company[cell_number]" value="{{Data.cell_number}}">
				</div>
			</div>
			</form>
		<div class="row">
			<div class="col-xs-12 btns-area">
				<button class="btn" id="updateDataCompany">Guardar</button>
			</div>
		</div>
		