{# <?php ?> #}
		<form id="companyForm">
			<input type="hidden" class="inputs" value="{{Data.id}}" name="company[id]"/>			
			<div class="row input">
				<div class="col-md-12">
					<label>Nombre<span class="requeridos">*</span></label>
				
					<input type="text" class="form-control required" name="company[director_name]" value="{{Data.director_name}}">
				</div>
			</div>
			<div class="row input">
				<div class="col-md-12">
					<label>Apellidos<span class="requeridos">*</span></label>
				
					<input type="text" class="form-control required" name="company[director_last_name]" value="{{Data.director_last_name}}">
				</div>
			</div>
			<div class="row input">
				<div class="col-md-12">
					<label>Email<span class="requeridos">*</span></label>
				
					<input type="text" class="form-control required email" name="company[director_email]" value="{{Data.director_email}}">
				</div>
			</div>			
			<div class="row input">
				<div class="col-md-12">
					<label>Sexo<span class="requeridos">*</span></label>
					<input type="hidden" class="inputs" value="{{Data.director_gender}}" id="gender_id"/>
					<select class="form-control" name="company[director_gender]" id="gender">
							<option value="1">Hombre</option>
							<option value="0">Mujer</option>
					</select>
				</div>
			</div>			
			<div class="row input">
				<div class="col-md-12">
					<label>Tel&eacute;fono fijo<span class="requeridos">*</span></label>
				
					<input type="text" class="form-control required number" name="company[director_phone_number]" value="{{Data.director_phone_number}}">
				</div>
			</div>
			<div class="row input">
				<div class="col-md-12">
					<label>Tel&eacute;fono m&oacute;vil<span class="requeridos">*</span></label>
				
					<input type="text" class="form-control required number" name="company[director_cell_number]" value="{{Data.director_cell_number}}">
				</div>
			</div>
			
		</form>
		<div class="row">
			<div class="col-xs-12 btns-area">
				<button class="btn" id="updateDataCompany">Guardar</button>
			</div>
		</div>
		