
<div id="allofuser">
   
    {% for comp in Data.infocompany %}
        <div id="infouser">
            ID: {{ comp.id }} <br/>
            Nombre: {{ comp.nombre }} <br/>
            RFC: {{ comp.rfc }} <br/>
            Direccion: {{ comp.direccion }} <br/>
            Email:{{ comp.email }} <br/>
            Descripcion: {{ comp.descripcion }}<br/>
            Telefono: {{ comp.telefono }}<br/>
            Ubicacion: {{ comp.ubicacion }}<br/>
            Latitud: {{ comp.latitud }}<br/>
            Longitud: {{ comp.longitud }}<br/>
            Fecha de Creacion: {{ comp.fechacreacion }}<br/>

        </div>
    {% endfor %}

</div>
