<h1>{{Data.inbox}}</h1>



<hr/>

<div class="fullw">    
    <span class="pull-left a80">
        <input type="text" id="buscador" onchange="Comm.search(this);" class="form-control" placeholder="Buscar">
    </span>

    <span class="pull-right a20">

        {% include('opcionesempresas.twig') %}
    </span>
</div >






<div class="padding-top">
    <table class="table table-hover table-bordered">
        <thead>
            <tr  >
                <th>ID</th>  
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Telefono</th>
                <th>E-mail</th>
                <th>Eliminar/Bloquear</th>
            </tr>
        </thead>
        <tbody>
            {% for empresa in Data.empresas %}
                <tr  class="myrow" id="tr{{ empresa.id }}" value="{{ empresa.id }}">
                    <td>{{ empresa.id }}</td> 
                    <td>{{ empresa.name }}</td> 
                    <td>{{ empresa.description }}</td>
                    <td>{{ empresa.phone }}</td>
                    <td>{{ empresa.email }}</td>

                    <td class="mycheckbox" ><input class="checkbox" mainid="{{empresa.id}}" value="{{ empresa.name }}" type="checkbox"></input></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script>

    $('.mycheckbox').click(function (e)
    {

          e.stopPropagation();
        // alert("bananero");

    });

    $('.myrow').on('click', function ()
    {

        //  alert("sabe");

        $('#showmoreuser').modal('show');
        var theid = $(this).attr('value');



        var thepage = "/site/admin/getmoreofcompany";

        var datatosend = {
            id: theid
        };


        $.post(thepage, datatosend, function (response) {
            $("#allofmyuser").html(response);
        });




    });




</script>






<div class="center">       

    {% include('pager.twig') %}
</div>

<div id="regions_div" style="width:400; height:300"></div>

<div class="a100 ">

    {{Data.path}}


    <button type="button" onclick="Change.insertcompany();
            ;" class="btn btn-primary pull-right" >
        Agregar Empresa
    </button>


    <button type="button"  onclick="Change.preparemodal(1);" class="btn btn-primary pull-right" >
        Eliminar Empresa
    </button>

</div>


{% include('InsertCompany.twig') %}}
{% include('MoreUser.twig') %}