{# <?php ?> #}

<form id="timeSlotsForm">
	<select name="slot[hour]">
		{% for i in 0..23 %}
		<option value="{{i}}">{{i}}</option>
		{% endfor %}
	</select>
	:
	<select name="slot[minute]">
		{% for i in 0..59 %}
		<option value="{{i}}">{{i}}</option>
		{% endfor %}
	</select> 
	Hrs
	<button id="addTimeSlot" type="button">Agregar</button>
</form>

<div id="generalTimeSlots">
	<table class="table table-striped table-bordered table-hover">	
		{% for key, item in Data %}
		<tr>
			<td>
				<div class="row">
					<div class="col-xs-10">
						{{item.time|date("H:i")}} hrs
					</div>
                                        {% if item.used == 0 %}
					<div class="deleteTimeSlot col-xs-2 text-center" id-time-slot="{{item.id}}">
						<i class="fa fa-times"></i>
					</div>
                                        {% else %}        
                                        <div class="col-xs-2 text-center" id-time-slot="{{item.id}}">
						<i class="fa fa-times delete-disabled"></i>
					</div>
                                        {% endif %}        
				</div>
			</td>
		</tr>
		{% endfor %}				
	</table>
</div>