{# <?php ?> #}
<div class="companies-list">
<table id="searches-table">
	<tbody>
		{% for item in Data.company %}
		<tr valign="middle">
			<td>
				<div class="row">					
					<div class="col-md-5 nombre-empresa row-empresa" company-id="{{item.id}}">
						<span class="bus-name">{{item.name}}</span>						
					</div>					
					<div class="col-md-5 company-status-btn">
						<input type="checkbox" data-on-text="&nbsp;&nbsp;&nbsp;Activa&nbsp;&nbsp;&nbsp;" data-off-text="&nbsp;&nbsp;Inactiva&nbsp;&nbsp;" {%  if item.status == 1%}checked{% endif %} class="company-status-switch" data-on-color="success" data-off-color="danger" company-id="{{item.id}}">
					</div>
					<div class="col-sm-1 edit-company-settings" company-id="{{item.id}}">
					<i class="fa fa-cogs"></i>	
					</div>
					<div class="col-sm-1 view-company-users" company-id="{{item.id}}">					
					<i class="fa fa-users"></i>	
					</div>					
				</div>
			</td>
		</tr>
		{% endfor %}		
	</tbody>
</table>
</div>
<div class="panel-footer">{% include('pagination.twig') %}</div>