<div id="allofuser">

    {% for user in Data.infouser %}
        <div id="infouser">
            ID: {{ user.id }} <br/>
            Nombre: {{ user.nombre }} <br/>
            RFC: {{ user.apellido }} <br/>
            Direccion: {{ user.sexo }} <br/>
            Descripcion:{{ user.email }} <br/>
            Telefono: {{ user.rolename }}<br/>
            E-mail: {{ user.creado }}<br/>
            Location_id: {{ user.planname }}<br/>
            Latitud: {{ user.birthdate }}<br/>
            Logintud: {{ user.expiration }}<br/>
            Creado: {{ user.statusname }}<br/>
            {% if Data.photo is not empty %}
                Foto:<img width="30%" height="30%" src="http://static.publicameenvideo.local/data/tmp/{{ Data.photo }}"> <br/>
            {%else%} NO HAY IMAGEN DISPONI[BLE
            {% endif %}

        </div>
    {% endfor %}


</div>
