
<div id="allofuser">

   
    {% for user in Data.infouser %}
        <div id="infouser">
            ID: {{ user.id }} <br/>
            Nombre: {{ user.nombre }} <br/>
            RFC: {{ user.apellido }} <br/>
            Direccion: {{ user.sexo }} <br/>
            Descripcion:{{ user.email }} <br/>
            Telefono: {{ user.rolename }}<br/>
            E-mail: {{ user.creado }}<br/>
            Location_id: {{ user.planname }}<br/>
            Latitud: {{ user.birthdate }}<br/>
            Logintud: {{ user.expiration }}<br/>
            Creado: {{ user.statusname }}<br/>


        </div>
    {% endfor %}



</div>
