<h1>{{Data.inbox}}</h1>



<hr/>

<div class="fullw">    
    <span class="pull-left a80">
        <input type="text" id="buscador" onchange="Comm.search(this);" class="form-control" placeholder="Buscar">
    </span>

    <span class="pull-right a20">

        {% include('opcionesuser.twig') %}
    </span>
</div >






<div class="padding-top">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>ID</th>  
                <th>Nombre</th>
                <th>Apellido</th>
                <th>E-Mail</th>
                <th>Rol</th>
                <th>Eliminar/Bloquear</th>
            </tr>
        </thead>
        <tbody>
            {% for user in Data.users %}
                <tr class="myrow" id="tr{{ user.id }}" value="{{ user.id }}">
                    <td>{{ user.id }}</td> 
                    <td>{{ user.name }}</td> 
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.rolename }}</td>
                    <td class="mycheckbox" ><input class="checkbox" mainid="{{user.id}}" value="{{ user.name }}" type="checkbox"></input></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>

    $('.mycheckbox').click(function (e)
    {
       
        e.stopPropagation();

    });
    
    $('.myrow').on('click',function ()
    {
        $('#showmoreuser').modal('show');
        var theid = $(this).attr('value');
        
        
        
        var thepage = "/site/admin/getmoreofuser";

        var datatosend = {
            id: theid
        };


        $.post(thepage, datatosend, function (response) {
            $("#allofmyuser").html(response);
        });
        
        
        

    });
    
    
    

</script>







<div class="center">       

    {% include('pager.twig') %}
</div>





{% include('InsertUser.twig') %}}
{% include('MoreUser.twig') %}


<div class="a100 ">

    {{Data.path}}
    <button type="button" onclick="Change.insertuser();" class="btn btn-primary pull-right" >
        Agregar Usuario
    </button>


    <button type="button"  onclick="Change.preparemodal(1);" class="btn btn-primary pull-right" >
        Eliminar Usuarios
    </button>



</div>

