<h1>{{Data.inbox}}</h1>

<hr/>

<div class="fullw">
    <span class="pull-left a80">
        <input type="text" onchange="Comm.search(this)" class="form-control" placeholder="Buscar">
    </span>

    <span class="pull-right a20">

        {% include('opcionesuser.twig') %}
    </span>

</div >


<div class="padding-top">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>E-Mail</th>
                <th>Eliminar</th>
                <th>Bloquear</th>
            </tr>
        </thead>
        <tbody>
            {% for user in Data.users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td><input class="eliminar" value="{{ user.name }}" type="checkbox"></input></td>
                    <td><input class="bloquear" value="{{ user.name }}" type="checkbox"></input></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="center">       

    {% include('pager.twig') %}
</div>
<button onclick="drawRegionsMap();">BOTON</button>

<div id="regions_div" style="width:400; height:300"></div>

<div class="a100 ">
    <button type="button" onclick="DeleteUsers();" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal">
        Agregar Usuario
    </button>

    <button type="button"  onclick="DeleteUsers();" class="btn btn-primary btn-lg pull-right"  data-toggle="modal" data-target="#myModaldelete">
        Eliminar Usuarios
    </button>

    <button type="button" class="btn btn-primary btn-lg pull-right"  onclick="">
        Bloquear Usuarios
    </button>

</div>
{% include('modaluser.twig') %}
{% include('DeleteUser.twig') %}