
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>



{% include('InsertVideo.twig') %}

{% include('MoreInfo.twig') %}

<h1>{{Data.inbox}}</h1>
<hr/>

<div class="fullw">    
    <span class="pull-left a80">
        <input type="text" id="buscador" onchange="Comm.search(this);" class="form-control" placeholder="Buscar">
    </span>

    <span class="pull-right a20">

        {% include('opcionesvideos.twig') %}
    </span>
</div >


<div class="padding-top">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>ID</th>  
                <th>Titulo</th>
                <th width="20%">Descripcion</th>
                <th>Categoria</th>
                <th>Empresa</th>
                <th>Estatus</th>
                <th>Eliminar/Bloquear</th>
            </tr>
        </thead>
        <tbody>



            {% for video in Data.videos %}
                <tr class="myrow" id="tr{{ video.id }}" value="{{ video.id }}" >
                    <td>{{ video.id }}</td> 
                    <td>{{ video.title }}</td> 
                    <td>{{ video.description}}</td>
                    <td>{{ video.categoria }}</td>
                    <td>{{ video.company }}</td>
                    <td>{{ video.status }}</td>
                    <td class="mycheckbox"><input class="checkbox" mainid="{{video.id}}" value="{{ video.title }}" type="checkbox"></input></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="center">       

    {% include('pager.twig') %}
</div>


<div class="a100 ">


    <button type="button" onclick="Change.insertvideo();" class="btn btn-primary pull-right" >
        Agregar Video
    </button>

    <button type="button" onclick="Change.preparemodal(1);" class="btn btn-primary pull-right" >
        Eliminar Video
    </button>


</div>


<script>

    $('.mycheckbox').click(function (e)
    {
        //alert("AHAY");

        e.stopPropagation();

    });

    $('.myrow').on('click', function ()
    {
        $('#showmoreuser').modal('show');
        var theid = $(this).attr('value');

        //alert("tontonuel");

        var thepage = "/site/admin/getmoreofvideo";

        var datatosend = {
            id: theid
        };


        $.post(thepage, datatosend, function (response) {
            $("#allofmyuser").html(response);

        });
    });



    $('#showmoreuser').on('hidden.bs.modal', function () {
        $("#vidid").trigger("pause");
    })

</script>

