
<div id="allofuser">

    {% for vid in Data.infovideo %}
        <div id="infouser">
            ID: {{ vid.id }} <br/>
            Nombre: {{ vid.titulo }} <br/>
            Descripcion: {{ vid.descripcion }}<br/>
            Likes: {{ vid.likes }}<br/>
            Vistas: {{ vid.vistas }}<br/>
            Compañia: {{ vid.companyname }}<br/>
            Status: {{ vid.statusname }}<br/>
            Categoria: {{ vid.categoryname }}<br/>
            Ultima Visita: {{ vid.ultimavisita }}<br/>
            Creado: {{ vid.creado }}<br/>
            
            {% if Data.video is not empty %}
                Video: 
                <video id="vidid" width="400" height="240" controls autoplay>
                    <source id="videospace" src="http://static.publicameenvideo.local/data/tmp/{{ Data.video }}" type="video/webm">
                    Your browser does not support the video tag.
                </video> 
                    
            {%else %}
                NO HAY VIDEO DISPONINBLE
                    
            {% endif %}
            

        </div>
    {% endfor %}

</div>
