

<div id="allofuser">

   
    {% for vid in Data.infovideo %}
        <div id="infouser">
            ID: {{ vid.id }} <br/>
            Nombre: {{ vid.nombre }} <br/>
            RFC: {{ vid.rfc }} <br/>
            Direccion: {{ vid.direccion }} <br/>
            Email:{{ vid.email }} <br/>
            Descripcion: {{ vid.descripcion }}<br/>
            Telefono: {{ vid.telefono }}<br/>
            Ubicacion: {{ vid.ubicacion }}<br/>
            Latitud: {{ vid.latitud }}<br/>
            Longitud: {{ vid.longitud }}<br/>
            Fecha de Creacion: {{ vid.fechacreacion }}<br/>


        </div>
    {% endfor %}



</div>
