{# <?php ?> #}
<!-- start footer area -->
    <footer id="footerArea">
        <div class="footer_top">
            <div class="container">
            <div class="row tacenter">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8 tacenter">
                    <span style="color:#fff; font-size: 20px;">Descarga nuestra app:</span>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
            <div class="row tacenter mtop">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8 tacenter">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="{{ Core.Domains.theme }}images/appstore.png"/>
                        </div>
                        <div class="col-sm-4">
                            <img src="{{ Core.Domains.theme }}images/gplay.png"/>
                        </div>
                        <div class="col-sm-4">
                            <img src="{{ Core.Domains.theme }}images/wpstore.png"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
            <!--
            <div class="container">
                <div class="row mbottom mtopinput">
                    <div class="col-md-6 mtop">
                        <div class="row tacenter">
                            <div class="col-md-3">
                                <a href="http://www.df.gob.mx/" target="_blank"><img src="{{ Core.Domains.theme }}images/logogdf.png"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="http://www.sds.df.gob.mx/" target="_blank"><img src="{{ Core.Domains.theme }}images/logosedeso.png"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="http://www.styfe.df.gob.mx/" target="_blank"><img src="{{ Core.Domains.theme }}images/logostyfe.png"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="http://www.jovenes.df.gob.mx/" target="_blank"><img src="{{ Core.Domains.theme }}images/logoitjuve.png"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <h4>SuperChamba.com</h4>
                            <ul class="list-unstyled">
                        	<li class="linksfooter"><a href="{{ Core.Domains.core }}web/bienvenido/objetivos"><i class="fa fa-angle-right"></i> &nbsp;&nbsp;¿Qu&eacute; es?</a></li>
                        	<li class="linksfooter"><a href="{{ Core.Domains.core }}web/bienvenido/objetivos#objetivos"><i class="fa fa-angle-right"></i> &nbsp;&nbsp;Objetivos</a></li>
                                <li class="linksfooter"><a href="{{ Core.Domains.core }}web/bienvenido/preguntas_frecuentes"><i class="fa fa-angle-right"></i> &nbsp;&nbsp;Preguntas frecuentes</a></li>
                        	<li class="linksfooter"><a href="{{ Core.Domains.core }}web/perfiles_companias"><i class="fa fa-angle-right"></i> &nbsp;&nbsp;Perfiles de las compa&ntilde;&iacute;as</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h4>&nbsp;</h4>
                            {% include('terminosycondiciones.twig') %}
                        <ul class="list-unstyled">
                        	<li class="linksfooter"><a href="{{ Core.Domains.core }}web/sitios_de_interes"><i class="fa fa-angle-right"></i> &nbsp;&nbsp;Sitios de inter&eacute;s</a></li>
                                <li class="linksfooter"><a href="{{ Core.Domains.core }}web/perfiles_companias/sitios_de_empleo"><i class="fa fa-angle-right"></i> &nbsp;&nbsp;Sitios de empleo</a></li>
                                <li class="linksfooter"><a href="{{ Core.Domains.core }}web/bienvenido/contacto"><i class="fa fa-angle-right"></i> &nbsp;&nbsp;Contacto</a></li>
                                <li class="linksfooter"><a href="#" data-toggle="modal" data-target="#tyc"><i class="fa fa-angle-right"></i> &nbsp;&nbsp;T&eacute;rminos y Condiciones</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            -->
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-center">
						
                    </div>
                    <div class="col-sm-6">
                        <ul class="pull-right list-unstyled social">
							<li><a href="{{ Core.Domains.core }}web/vacancies/published/1">TP</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer area -->