<section id="logoArea" class="logoslider">
    <div class="container containerlogos">
        <!-- Make reference to the array: echo"<li>". $renglon["text"]."<li>"; -->
        <div id="logo" class="flexslider">
            <ul class="slides">
                <li>
                    <div class="contlogoslider">
                        <div class="contlogo">
                            <img class="img-width" src="{{ Core.Domains.theme }}images/cinepolis_logo.png" alt="">
                        </div>
                        <span class="hired">Esta empresa cuenta<br/>con 258 vacantes</span>
                        <!--
                        <br/>
                        <span class="interviewed">y entrevistado a 31</span>
                        -->
                    </div>
                </li>
                <li>
                    <div class="contlogoslider">
                        <div  class="contlogo">
                            <img class="img-width" src="{{ Core.Domains.theme }}images/alsea_logo.png" alt="">
                        </div>
                        <span class="hired">Esta empresa cuenta<br/>con 258 vacantes</span>
                    </div>
                </li>
                <li>
                    <div class="contlogoslider">
                        <div  class="contlogo">
                            <img class="img-width" src="{{ Core.Domains.theme }}images/gepp_logo.jpg" alt="">
                        </div>
                        <span class="hired">Esta empresa cuenta<br/>con 258 vacantes</span>
                    </div>
                </li>
                <li>
                    <div class="contlogoslider">
                        <div  class="contlogo">
                            <img class="img-width" src="{{ Core.Domains.theme }}images/cinemex_logo.png" alt="">
                        </div>
                        <span class="hired">Esta empresa cuenta<br/>con 258 vacantes</span>
                    </div>
                </li>
                <li>
                    <div class="contlogoslider">
                        <div class="contlogo">
                            <img class="img-width" src="{{ Core.Domains.theme }}images/santander_logo.png" alt="">
                        </div>
                        <span class="hired">Esta empresa cuenta<br/>con 258 vacantes</span>
                    </div>
                </li>
                <li>
                    <div class="contlogoslider">
                        <div class="contlogo">
                            <img class="img-width" src="{{ Core.Domains.theme }}images/comex_logo.jpg" alt="">
                        </div>
                        <span class="hired">Esta empresa cuenta<br/>con 258 vacantes</span>
                    </div>
                </li>
                <!--
                <li class="contlogoslider">
                    <ul>
                        <li><a href="#"><img src="{{ Core.Domains.theme }}images/cinepolis_logo.png" alt=""></a></li>
                        <li>
                            <span style="z-index: 9999999999999; color: black; position: relative; background: red; width: 100px; height: 60px;">texto texto texto texto <br>texto texto </span>
                        </li>
                    </ul>
                </li>
                <li class="contlogoslider"><a href="#"><img src="{{ Core.Domains.theme }}images/alsea_logo.png" alt=""></a></li>
                <li class="contlogoslider"><a href="#"><img src="{{ Core.Domains.theme }}images/gepp_logo.jpg" alt=""></a></li>
                <li class="contlogoslider"><a href="#"><img src="{{ Core.Domains.theme }}images/cinemex_logo.png" alt=""></a></li>
                -->
            </ul>
        </div>
    </div>
</section>