<form id="backgroundForm">
    <input type="file" name="profilePicture" id="profilePicture" onchange="changeBackground(this);" style="visibility: hidden; height: 0px;">
    <input type="hidden" name="backPosition" id="backPosition" />
</form>
<div class="tool-bar">
    <div id="profileTB">
        <button class="btn btn-theme" id="cancelBackground" style="display: none;"><i class="glyphicon glyphicon-remove"></i></button>
        <button class="btn btn-theme" id="saveBackground" data-loading-text="Guardando..." style="display: none;">Guardar</button>
        <button class="btn btn-theme" id="editProfile"><i class="glyphicon glyphicon-pencil"></i>&nbsp; Editar Perfil</button>
        <button class="btn btn-theme" id="editBackground"><i class="glyphicon glyphicon-picture"></i></button>
    </div>
</div>
<div class="row contact" id="headerCandidate">
     {% set background_picture = Data.file ? 'url(' ~ Core.Domains.core ~ 'empresa/candidatos/showAvatar/' ~ Data.file.name ~ '/background' ~ ')' : '#00506c' %}
     <div class="bck-profile" style="background: {{ background_picture }}; background-position: {{ Data.file.position }};">
    </div>
    <div class="col-md-2">
        {% set profile_picture = Data.profilePicture ? Core.Domains.core ~ 'empresa/candidatos/showAvatar/' ~ Data.profilePicture ~ '/profile' : '#006b78' %}
        {% if Data.profilePicture %}
        <div class="img_profile" style="background: url({{ profile_picture }})"></div>
        {% else %}
        <div class="img_profile" style="background: {{ profile_picture }}">
            <h1>{{ Data.candidate.name|first }}{{ Data.candidate.last_name|first }}</h1>
        </div>
        {% endif %}
        <a href="#" id="uploadProfilePic"><i class="glyphicon glyphicon-camera camera"></i>&nbsp;<span>Cambia tu foto</span></a>
        <form id="picForm">
            <input type="file" id="file-avatar" style="visibility: hidden;" onchange="profilePicChange(this);"/>
        </form>
    </div>
    <div class="col-md-10 contactos">
        <div class="row">
            <div class="overlay"></div>
            <h3 class="profile_name">{{Data.candidate.name}} {{Data.candidate.last_name}} ({{Data.candidate.age}} años)</h3>
            <div class="col-md-8">
                <h6>{{Data.candidate.degree_title}}({{Data.candidate.degree}})</h6>
                <h6 style="font-weight: 500; color: #444;">{% if Data.candidate.full_address%} {{ Data.candidate.full_address }} {% else %} N/A {% endif %}</h6>
                <a role="button" href="{{ Core.Domains.theme }}images/cv2.pdf" target="_blank" onclick="return false;" class="btn btn-theme link-disabled">Exportar CV a pdf</a>
            </div>
            <div class="col-md-4">
                <p>{{Data.candidate.address}} C.P. {{Data.candidate.zip_code}}</p>
                <ul class="contact-info">
                    <li>
                        <b>Email:</b>
                        <span>{{Data.candidate.email}}</span>
                    </li>
                    <li>
                        <b>Telefono:</b>
                        <span>{{Data.candidate.phone_number}}</span>
                    </li>
                    <li>
                        <b>Celular:</b>
                        <span>{{Data.candidate.cell_number}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalCrop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">
        <div class="text-center">
            <div class="zoom-section text-right">
                Zoom: 
                <button type="button" id="btnZoomIn" class="btn btn-theme"><i class="fa fa-plus"></i></button>
                <button type="button" id="btnZoomOut" class="btn btn-theme"><i class="fa fa-minus"></i></button>
            </div>
            <div class="imageBox">
                <div class="thumbBox"></div>
                <div class="spinner" style="display: none">Cargando...</div>
            </div>                      
        </div>
      </div>
      <div class="modal-footer">          
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-theme" id="btnCrop">Aceptar</button>
      </div>
    </div>
  </div>
</div>