{% extends 'default.twig' %}

{% block content %}

    <!-- start main area -->
    <section id="mainArea">		
        <!-- start account area -->
        <section class="accountArea">

            <div class="container">   
     
                <div class="row">
                    <div class="col-sm-12">

                    <h2>Headings</h2>

                    <h1>h1. Bootstrap heading</h1>
                    <h2>h2. Bootstrap heading</h2>
                    <h3>h3. Bootstrap heading</h3>
                    <h4>h4. Bootstrap heading</h4>
                    <h5>h5. Bootstrap heading</h5>
                    <h6>h6. Bootstrap heading</h6>

                    <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
                    <h2>h2. Bootstrap heading <small>Secondary text</small></h2>
                    <h3>h3. Bootstrap heading <small>Secondary text</small></h3>
                    <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
                    <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
                    <h6>h6. Bootstrap heading <small>Secondary text</small></h6>

                    <h2>Blockquotes</h2>

                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>

                    <h2>Blockquotes</h2>

                    <ol>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                        <li>Nulla volutpat aliquam velit</li>
                        <li>Faucibus porta lacus fringilla vel</li>
                        <li>Aenean sit amet erat nunc</li>
                        <li>Eget porttitor lorem</li>
                    </ol>

                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                        <li>Nulla volutpat aliquam velit</li>
                        <li>Faucibus porta lacus fringilla vel</li>
                        <li>Aenean sit amet erat nunc</li>
                        <li>Eget porttitor lorem</li>
                    </ul>

                    <h2>Tables</h2>

                    <div class="table-responsive">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                        </tbody>
                    </table>

                    </div>

                    <div class="table-responsive">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Column heading</th>
                                <th>Column heading</th>
                                <th>Column heading</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active">
                                <td>1</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr class="success">
                                <td>3</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr class="info">
                                <td>5</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr class="warning">
                                <td>7</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr class="danger">
                                <td>9</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                        </tbody>
                    </table>

                    </div>

                    <h2>Buttons</h2>

                    <p>

                        <!-- Standard button -->
                        <button type="button" class="btn btn-default">Default</button>

                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <button type="button" class="btn btn-primary">Primary</button>

                        <!-- Indicates a successful or positive action -->
                        <button type="button" class="btn btn-success">Success</button>

                        <!-- Contextual button for informational alert messages -->
                        <button type="button" class="btn btn-info">Info</button>

                        <!-- Indicates caution should be taken with this action -->
                        <button type="button" class="btn btn-warning">Warning</button>

                        <!-- Indicates a dangerous or potentially negative action -->
                        <button type="button" class="btn btn-danger">Danger</button>

                        <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
                        <button type="button" class="btn btn-link">Link</button>

                    </p>

                    <p>
                        <button type="button" class="btn btn-primary btn-lg">Large button</button>
                        <button type="button" class="btn btn-default btn-lg">Large button</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary">Default button</button>
                        <button type="button" class="btn btn-default">Default button</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary btn-sm">Small button</button>
                        <button type="button" class="btn btn-default btn-sm">Small button</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                        <button type="button" class="btn btn-default btn-xs">Extra small button</button>
                    </p>

                    <h2>Contextual colors</h2>

                    <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                    <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                    <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                    <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>

                    <h2>Contextual backgrounds</h2>

                    <div class="bs-example bs-example-bg-classes">

                    <p class="bg-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p class="bg-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    <p class="bg-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                    <p class="bg-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                    <p class="bg-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>                                        

                    </div>

                    <h2>Glyphicons</h2>

                    <div class="bs-glyphicons">
                        <ul class="bs-glyphicons-list">

                            <li>
                                <span class="glyphicon glyphicon-asterisk"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-plus</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-euro"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-euro</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-minus"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-minus</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-cloud"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-cloud</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-envelope"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-envelope</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-pencil</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-glass"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-glass</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-music"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-music</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-search"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-search</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-heart</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-star</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-star-empty</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-user</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-film"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-film</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-th-large"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-th-large</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-th"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-th</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-th-list</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-ok"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-ok</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-remove"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-remove</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-zoom-in"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-zoom-in</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-zoom-out"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-zoom-out</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-off"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-off</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-signal"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-signal</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-cog</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-trash</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-home"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-home</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-file"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-file</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-time"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-time</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-road"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-road</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-download-alt"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-download-alt</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-download"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-download</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-upload"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-upload</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-inbox"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-inbox</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-play-circle"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-play-circle</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-repeat"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-repeat</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-refresh"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-refresh</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-list-alt"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-list-alt</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-lock"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-lock</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-flag"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-flag</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-headphones"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-headphones</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-volume-off"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-volume-off</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-volume-down"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-volume-down</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-volume-up"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-volume-up</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-qrcode"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-qrcode</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-barcode"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-barcode</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-tag"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-tag</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-tags"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-tags</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-book"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-book</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-bookmark"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-bookmark</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-print"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-print</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-camera"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-camera</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-font"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-font</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-bold"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-bold</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-italic"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-italic</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-text-height"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-text-height</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-text-width"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-text-width</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-align-left"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-align-left</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-align-center"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-align-center</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-align-right"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-align-right</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-align-justify"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-align-justify</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-list"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-list</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-indent-left"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-indent-left</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-indent-right"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-indent-right</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-facetime-video"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-facetime-video</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-picture"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-picture</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-map-marker</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-adjust"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-adjust</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-tint"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-tint</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-edit"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-edit</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-share"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-share</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-check"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-check</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-move"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-move</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-step-backward"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-step-backward</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-fast-backward"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-fast-backward</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-backward"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-backward</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-play"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-play</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-pause"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-pause</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-stop"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-stop</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-forward"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-forward</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-fast-forward"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-fast-forward</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-step-forward"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-step-forward</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-eject"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-eject</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-chevron-left</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-chevron-right</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-plus-sign</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-minus-sign</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-remove-sign"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-remove-sign</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-ok-sign"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-ok-sign</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-question-sign"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-question-sign</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-info-sign"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-info-sign</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-screenshot"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-screenshot</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-remove-circle</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-ok-circle"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-ok-circle</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-ban-circle"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-ban-circle</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-arrow-left"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-arrow-left</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-arrow-right"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-arrow-right</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-arrow-up"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-arrow-up</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-arrow-down"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-arrow-down</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-share-alt</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-resize-full"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-resize-full</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-resize-small"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-resize-small</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-exclamation-sign</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-gift"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-gift</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-leaf"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-leaf</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-fire"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-fire</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-eye-open</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-eye-close"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-eye-close</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-warning-sign"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-warning-sign</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-plane"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-plane</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-calendar"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-calendar</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-random"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-random</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-comment"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-comment</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-magnet"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-magnet</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-chevron-up"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-chevron-up</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-chevron-down</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-retweet"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-retweet</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-shopping-cart</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-folder-close"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-folder-close</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-folder-open</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-resize-vertical"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-resize-vertical</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-resize-horizontal"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-resize-horizontal</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-hdd"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-hdd</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-bullhorn"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-bullhorn</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-bell"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-bell</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-certificate"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-certificate</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-thumbs-up</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-thumbs-down"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-thumbs-down</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-hand-right"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-hand-right</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-hand-left"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-hand-left</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-hand-up"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-hand-up</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-hand-down"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-hand-down</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-circle-arrow-right</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-circle-arrow-left"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-circle-arrow-left</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-circle-arrow-up</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-circle-arrow-down"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-circle-arrow-down</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-globe"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-globe</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-wrench"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-wrench</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-tasks"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-tasks</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-filter"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-filter</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-briefcase"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-briefcase</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-fullscreen"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-fullscreen</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-dashboard</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-paperclip"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-paperclip</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-heart-empty"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-heart-empty</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-link"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-link</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-phone"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-phone</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-pushpin"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-pushpin</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-usd"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-usd</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-gbp"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-gbp</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-sort"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-sort</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-sort-by-alphabet</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-sort-by-alphabet-alt</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-sort-by-order"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-sort-by-order</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-sort-by-order-alt"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-sort-by-order-alt</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-sort-by-attributes</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-sort-by-attributes-alt</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-unchecked"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-unchecked</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-expand"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-expand</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-collapse-down"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-collapse-down</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-collapse-up"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-collapse-up</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-log-in"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-log-in</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-flash"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-flash</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-log-out"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-log-out</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-new-window"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-new-window</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-record"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-record</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-save"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-save</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-open"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-open</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-saved"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-saved</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-import"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-import</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-export"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-export</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-send"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-send</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-floppy-disk</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-floppy-saved"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-floppy-saved</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-floppy-remove"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-floppy-remove</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-floppy-save"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-floppy-save</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-floppy-open"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-floppy-open</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-credit-card"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-credit-card</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-transfer"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-transfer</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-cutlery"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-cutlery</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-header"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-header</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-compressed"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-compressed</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-earphone"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-earphone</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-phone-alt"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-phone-alt</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-tower"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-tower</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-stats"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-stats</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-sd-video"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-sd-video</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-hd-video"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-hd-video</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-subtitles"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-subtitles</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-sound-stereo"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-sound-stereo</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-sound-dolby"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-sound-dolby</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-sound-5-1"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-sound-5-1</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-sound-6-1"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-sound-6-1</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-sound-7-1"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-sound-7-1</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-copyright-mark"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-copyright-mark</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-registration-mark"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-registration-mark</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-cloud-download"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-cloud-download</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-cloud-upload"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-cloud-upload</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-tree-conifer"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-tree-conifer</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-tree-deciduous"></span>
                                <span class="glyphicon-class">glyphicon glyphicon-tree-deciduous</span>
                            </li>

                        </ul>
                    </div>

                    <h2>Labels</h2>

                    <p>
                        <span class="label label-default">Default</span>
                        <span class="label label-primary">Primary</span>
                        <span class="label label-success">Success</span>
                        <span class="label label-info">Info</span>
                        <span class="label label-warning">Warning</span>
                        <span class="label label-danger">Danger</span>                
                    </p>    

                   </div>   
                </div> 

                <h2>Thumbnails</h2>

                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a class="thumbnail" href="#">
                            <img alt="" src="{{ Core.Domains.theme }}images/image_400x400.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a class="thumbnail" href="#">
                            <img alt="" src="{{ Core.Domains.theme }}images/image_400x400.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a class="thumbnail" href="#">
                            <img alt="" src="{{ Core.Domains.theme }}images/image_400x400.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a class="thumbnail" href="#">
                            <img alt="" src="{{ Core.Domains.theme }}images/image_400x400.jpg">
                        </a>
                    </div>
                </div>

                <h2>Custom content</h2>

                <div class="row">

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img alt="" src="{{ Core.Domains.theme }}images/image_600x600.jpg">
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                <p><a role="button" class="btn btn-primary" href="#">Button</a> <a role="button" class="btn btn-default" href="#">Button</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img alt="" src="{{ Core.Domains.theme }}images/image_600x600.jpg">
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                <p><a role="button" class="btn btn-primary" href="#">Button</a> <a role="button" class="btn btn-default" href="#">Button</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img alt="" src="{{ Core.Domains.theme }}images/image_600x600.jpg">
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                <p><a role="button" class="btn btn-primary" href="#">Button</a> <a role="button" class="btn btn-default" href="#">Button</a></p>
                            </div>
                        </div>
                    </div>

                </div>

                <h2>Alerts</h2>

                <div class="alert alert-success">
                    <strong>Well done!</strong> You successfully read this important alert message.
                </div>

                <div class="alert alert-info">
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                </div>

                <div class="alert alert-warning">
                    <strong>Warning!</strong> Better check yourself, you're not looking too good.
                </div>

                <div class="alert alert-danger">
                    <strong>Oh snap!</strong> Change a few things up and try submitting again.
                </div>            

                <h2>Progress bars</h2>

                <div class="progress">
                    <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>

                <div class="progress">
                    <div style="width: 20%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                        <span class="sr-only">20% Complete</span>
                    </div>
                </div>

                <div class="progress">
                    <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-warning">
                        <span class="sr-only">60% Complete (warning)</span>
                    </div>
                </div>

                <div class="progress">
                    <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-danger">
                        <span class="sr-only">80% Complete (danger)</span>
                    </div>
                </div>

                <div class="progress progress-striped">
                    <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
                <div class="progress progress-striped">
                    <div style="width: 20%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                        <span class="sr-only">20% Complete</span>
                    </div>
                </div>
                <div class="progress progress-striped">
                    <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-warning">
                        <span class="sr-only">60% Complete (warning)</span>
                    </div>
                </div>
                <div class="progress progress-striped">
                    <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-danger">
                        <span class="sr-only">80% Complete (danger)</span>
                    </div>
                </div>

                <h2>List group</h2>

                <div class="list-group">
                    <a class="list-group-item active" href="#">Cras justo odio</a>
                    <a class="list-group-item" href="#">Dapibus ac facilisis in</a>
                    <a class="list-group-item" href="#">Morbi leo risus</a>
                    <a class="list-group-item" href="#">Porta ac consectetur ac</a>
                    <a class="list-group-item" href="#">Vestibulum at eros</a>
                </div>

                <div class="list-group">
                    <a class="list-group-item active" href="#">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a class="list-group-item" href="#">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a class="list-group-item" href="#">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                </div>

                <h2>Panels</h2>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <h2>Table </h2>

                <div class="panel panel-default">

                    <!-- Default panel contents -->
                    <div class="panel-heading">Panel heading</div>

                    <div class="panel-body">
                        <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>

                    <!-- Table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <h2>Modals </h2>

                <p><button data-target="#myModal" data-toggle="modal" class="btn btn-primary btn-lg">Launch demo modal</button></p>

                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                                <h4 id="myModalLabel" class="modal-title">Modal Heading</h4>
                            </div>

                            <div class="modal-body">
                                <h4>Text in a modal</h4>
                                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

                                <h4>Popover in a modal</h4>
                                <p>This <a data-content="And here's some amazing content. It's very engaging. right?" title="" class="btn btn-default popover-test" role="button" href="#" data-original-title="A Title">button</a> should trigger a popover on click.</p>

                                <h4>Tooltips in a modal</h4>
                                <p><a title="" class="tooltip-test" href="#" data-original-title="Tooltip">This link</a> and <a title="" class="tooltip-test" href="#" data-original-title="Tooltip">that link</a> should have tooltips on hover.</p>

                                <hr>

                                <h4>Overflowing text to show scroll behavior</h4>
                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div>

                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                                <button class="btn btn-primary" type="button">Save changes</button>
                            </div>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>

                <h2>Togglable tabs </h2>

                <ul class="nav nav-tabs" id="myTab">
                    <li class=""><a data-toggle="tab" href="#home">Home</a></li>
                    <li class="active"><a data-toggle="tab" href="#profile">Profile</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" id="myTabDrop1" href="#">Dropdown <b class="caret"></b></a>
                        <ul aria-labelledby="myTabDrop1" role="menu" class="dropdown-menu">
                            <li><a data-toggle="tab" tabindex="-1" href="#dropdown1">@fat</a></li>
                            <li><a data-toggle="tab" tabindex="-1" href="#dropdown2">@mdo</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div id="home" class="tab-pane fade">
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                    </div>
                    <div id="profile" class="tab-pane fade active in">
                        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                    </div>
                    <div id="dropdown1" class="tab-pane fade">
                        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                    </div>
                    <div id="dropdown2" class="tab-pane fade">
                        <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                    </div>
                </div>

                <h2>Popovers</h2>

                <p>
                    <button title="" data-placement="left" data-toggle="tooltip" class="btn btn-default" type="button" data-original-title="Tooltip on left">Tooltip on left</button>
                    <button title="" data-placement="top" data-toggle="tooltip" class="btn btn-default" type="button" data-original-title="Tooltip on top">Tooltip on top</button>
                    <button title="" data-placement="bottom" data-toggle="tooltip" class="btn btn-default" type="button" data-original-title="Tooltip on bottom">Tooltip on bottom</button>
                    <button title="Tooltip on right" data-placement="right" data-toggle="tooltip" class="btn btn-default" type="button">Tooltip on right</button>
                </p>

                <p><a role="button" data-content="And here's some amazing content. It's very engaging. right?" title="" data-toggle="popover" class="btn btn-lg btn-danger" href="#" data-original-title="A Title">Click to toggle popover</a></p>

                <p>
                    <button data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="left" data-toggle="popover" data-container="body" class="btn btn-default" type="button" data-original-title="" title="">
                    Popover on left
                    </button>
                    <button data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="top" data-toggle="popover" data-container="body" class="btn btn-default" type="button" data-original-title="" title="">
                    Popover on top
                    </button>
                    <button data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="bottom" data-toggle="popover" data-container="body" class="btn btn-default" type="button" data-original-title="" title="">
                    Popover on bottom
                    </button>
                    <button data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="right" data-toggle="popover" data-container="body" class="btn btn-default" type="button" data-original-title="" title="">
                    Popover on right
                    </button>
                </p>

                <h2>Alert messages</h2>

                <div class="alert alert-warning fade in">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
                    <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
                </div>

                <div class="alert alert-danger fade in">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
                    <h4>Oh snap! You got an error!</h4>
                    <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
                    <p>
                    <button class="btn btn-danger" type="button">Take this action</button>
                    <button class="btn btn-default" type="button">Or do this</button>
                    </p>
                </div>

                <h2>Collapse</h2>

                <ul class="panel-group" id="accordion">
                    <li class="panel panel-default">
                        <div class="top panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Lorem ipsum dolor sit amet</a>
                        </div>

                         <div id="collapseOne" class="panel-collapse collapse in">

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

                        </div>

                    </li>
                    <li class="panel panel-default">
                        <div class="top panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapseTwo">Lorem ipsum dolor sit amet</a>
                        </div>

                         <div id="collapseTwo" class="panel-collapse collapse">

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

                        </div>

                    </li>
                    <li class="panel panel-default">
                        <div class="top panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapseThree">Lorem ipsum dolor sit amet</a>
                        </div>

                         <div id="collapseThree" class="panel-collapse collapse">

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

                        </div>

                    </li>
                    <li class="panel panel-default">
                        <div class="top panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapseFour">Lorem ipsum dolor sit amet</a>
                        </div>

                         <div id="collapseFour" class="panel-collapse collapse">

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

                        </div>

                    </li>
                </ul>

            </div>
	
	
	</section>
	<!-- end account area -->		
    </section>
    <!-- end main area -->

{% endblock %}