{% extends 'default.twig' %}

{% block content %}

    <!-- start main area -->
    <section id="mainArea">        
        <div class="container">
            <div class="section-title">
                Sitemap
            </div>            
            <ul>
                <li><a href="{{ Core.Domains.core }}web/acceso/index/3">acceso candidato</a></li>
                <li><a href="{{ Core.Domains.core }}web/acceso/index/1">acceso gobierno</a></li>
                <li><a href="{{ Core.Domains.core }}web/acceso/index/2">acceso empresa</a></li>
                <li><a href="{{ Core.Domains.core }}web/agendar/">agendar</a></li>
                <li><a href="{{ Core.Domains.core }}web/calendario/citas">calendario::citas</a></li>
                <li><a href="{{ Core.Domains.core }}web/calendario/entrevistas">calendario::entrevistas</a></li>
                <li><a href="{{ Core.Domains.core }}web/candidatos/aplicantes">candidatos::aplicantes</a></li>
                <li><a href="{{ Core.Domains.core }}web/candidatos/candidato">candidatos::candidato</a></li>
                <li><a href="{{ Core.Domains.core }}web/candidatos/todos">candidatos::todos</a></li>
                <li><a href="{{ Core.Domains.core }}web/comprobante/">comprobante</a></li>
                <li><a href="{{ Core.Domains.core }}web/cuenta/">cuenta</a></li>
                <li><a href="{{ Core.Domains.core }}web/cuestionario/">cuestionario</a></li>
                <li><a href="{{ Core.Domains.core }}web/empleos/">empleos</a></li>
                <li><a href="{{ Core.Domains.core }}web/empleos/empleo">empleos::empleo</a></li>
                <li><a href="{{ Core.Domains.core }}web/empleos/administrar">empleos::administrar</a></li>
                <li><a href="{{ Core.Domains.core }}web/empleos/todos">empleos::todos</a></li>
                <li><a href="{{ Core.Domains.core }}web/registro/">registro</a></li>
                <li><a href="{{ Core.Domains.core }}web/reportes/aplicantes">reportes::aplicantes</a></li>
                <li><a href="{{ Core.Domains.core }}web/reportes/contratados">reportes::contratados</a></li>
                <li><a href="{{ Core.Domains.core }}web/reportes/evaluados">reportes::evaluados</a></li>
                <li><a href="{{ Core.Domains.core }}web/reportes/registrados">reportes::registrados</a></li>
            </ul>                            
        </div>       
    </section>   
    <!-- end logo area -->

{% endblock %}