{# <?php ?> #}
{% block content %}
    <br/>
    {% set currentTime = "" %}
    {% if Data.rsSchedule is empty %}
        <div class="timeSlot-wrapper">
            <div class="time-wrapper bg-timeSlot">
                <span class="timeSlot empty"><i class="fa fa-clock-o fa-3x"></i><br/>Sin actividades programadas para el día<br/> 
                    {{Data.currentDay.dayofweek}}, {{Data.currentDay.day}} de {{Data.currentDay.month}} del {{Data.currentDay.year}}</span>
            </div>
        </div>
    {% else %}
		<input type="hidden" id="selectedDate" value="{{Data.selectedDate}}">
        {% for key in Data.rsSchedule %}
            <div class="timeSlot-wrapper">
                {% if currentTime != key.schedule.time %}
                    <div class="time-wrapper bg-timeSlot">
                        <span class="timeSlot">{{key.schedule.time[:5]}}</span>
                    </div>
                    {% set cws = 1 %}
                {% endif %}
                <div class="schedule-wrapper {% if key.schedule.disabled > 0 or key.schedule.exam_finished == 1 %}disabled{% endif %}" id-candidate="{{key.schedule.id_candidate}}">
                    <span class="timeSlot-schedule cws-{{cws}}">
                        <div class="data-candidate">
                            <span class="ts-title" title="{{key.candidate.name}} {{key.candidate.last_name}}">{{key.candidate.name}} {{key.candidate.last_name |slice(0, 1)|capitalize}}.</span>
                            <br/>
                            <span class="ts-text">{{key.schedule.curp}}</span>
                        </div>
                        <div class="buttons">
                            <div class="btn opciones {% if key.schedule.disabled > 0 or key.schedule.exam_finished == 1 %}disabled{% endif %}" onClick="togglePanel('#panelRight', {{key.schedule.id_candidate}});">
                                Opciones
                            </div>
                            <div class="btn opciones nspbutton no-show {% if key.schedule.disabled > 0 or key.schedule.exam_finished == 1 %}disabled{% endif %}" data-toggle="modal" data-target="#noShow" id-candidate="{{key.schedule.id_candidate}}">
                                No se presentó
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            {% set currentTime = key.schedule.time %}
            {% set cws = cws + 1 %}
        {% endfor %}
    {% endif %}
{% endblock %}