{# <?php ?> #}
<!-- start main area -->
{{ View.CSS|raw }}
{{ View.JS|raw }}
<section>
{{Data.uploadForm|raw}}
    <div class="container">
        
        <div class="row">
            <div class="col-md-4">
                <div id="calendar-wrapper">
                    <div id="calendar-header">
                        <span class="cal-prev-month" onClick="navigateMonths('previous');">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </span>
                        <span class="cal-today" onClick="navigateMonths('today');">
                            <span class="label label-primary cal-label-today"><a href="#" style="color:#666666;">Hoy</a></span>
                        </span>
                        <span class="cal-next-month" onClick="navigateMonths('next');">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </span>
                    </div>
                    <div id="calendar">
                        {{Data.calendar|raw}}
                    </div>
                </div>
            </div>
            <div class="col-md-8" id="slider-wrapper">
                <div id="panelRight">
                    <div class="contentRight">
                         <div id="slider-content"></div>
                    </div>
                </div>
                <div id="agenda-header">
                    <div id="actualNumMonth" style="display:none;">{{Data.currentNumMonth}}</div>
                        {% if Data.selectedDay > 0 %}
                    <span class="calendar-today-text" id="weekday">{{Data.currentWeekDay|i18n}}</span>
                    <span class="calendar-today-day" id="currentDaySelected">
                        {{Data.selectedDay}}
                    </span>
                    <span class="calendar-current-month">{{Data.selectedMonth|i18n}}, </span>
                    <span class="calendar-current-year">{{Data.selectedYear}}</span>
                        {% else %}
                    <span class="calendar-today-text" id="weekday">Hoy, {{Data.currentWeekDay|i18n}}</span>
                    <span class="calendar-today-day" id="currentDayToday">
                        {{Data.currentDay}}
                    </span>
                    <span class="calendar-current-month">{{Data.currentMonth|i18n}}, </span>
                    <span class="calendar-current-year">{{Data.currentYear}}</span>                            
                        {% endif %}
                </div>
                <div id="agenda-wrapper" class="mbottom"></div>
            </div>
        </div>		
    </div>
    <!-- Modals -->
    <div id="noShow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="noShowLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="noShowLabel">¿Desea confirmar que el candidato no se present&oacute; a su cita?</h4>
                </div>

                <div class="modal-body">
                    <p>Por favor, confirme que el candidato no se present&oacute;.</p>
                </div>
                <div class="candidate-modal-notification cmnotification"></div>
                <div class="modal-footer">
                    <button type="button" id="btn-noShow" class="nspbutton btn white">El candidato NO se present&oacute;</button>
                    <button type="button" data-dismiss="modal" class="btn">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
    <div id="examUncomplete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="examUncompleteLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="examUncompleteLabel">¿Desea confirmar que el candidato no finaliz&oacute; su examen?</h4>
                </div>

                <div class="modal-body">
                    <p>Por favor, confirme que el candidato no finaliz&oacute; su examen.</p>
                </div>
                <div class="candidate-modal-notification cmnotification"></div>
                <div class="modal-footer">
                    <button type="button" id="btn-examUncomplete" class="nspbutton btn white">El candidato NO finaliz&oacute; su examen</button>
                    <button type="button" data-dismiss="modal" class="btn">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
    <div id="docsUncomplete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="docsUncompleteLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="docsUncompleteLabel">¿Desea confirmar que el candidato no present&oacute; sus documentos completos?</h4>
                </div>

                <div class="modal-body">
                    <p>Por favor, confirme que el candidato no present&oacute; sus documentos completos.</p>
                </div>
                <div class="candidate-modal-notification cmnotification"></div>
                <div class="modal-footer">
                    <button type="button" id="btn-docsUncomplete" class="nspbutton btn white">NO present&oacute; sus documentos completos</button>
                    <button type="button" data-dismiss="modal" class="btn">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
    <div id="newMeeting" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newMeetingLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="newMeetingLabel">¿Desea reagendar una cita?</h4>
                </div>

                <div class="modal-body">
                    <p>Por favor, confirme que desea reagendar una cita.</p>
                </div>
                <div class="candidate-modal-notification cmnotification"></div>
                <div class="modal-footer">
                    <button type="button" id="btn-newMeeting" class="nspbutton btn white">Reagendar cita</button>
                    <button type="button" data-dismiss="modal" class="btn">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
                        
    <div id="candidateAccepted2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="candidateAcceptedLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="candidateAcceptedLabel">¿Desea aceptar al candidato?</h4>
                </div>

                <div class="modal-body">
                    <p>Por favor, confirme la aceptaci&oacute;n del candidato para que pase al m&oacute;dulo de pruebas.</p>
                </div>
                <div class="candidate-modal-notification cmnotification"></div>
                <div class="modal-footer">
                    <button type="button" id="btn-candidateAccepted" class="nspbutton-aceptar btn white">Recibir al candidato</button>
                    <button type="button" data-dismiss="modal" class="btn">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
                        
    
	<div id="candidateIdentity" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="candidateAcceptedLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="candidateAcceptedLabel">¿Confirma la identidad del candidato?</h4>
                </div>

                <div class="modal-body">
                    <p>Confirmo la validez de la documentaci&oacute;n presentada por el candidato, que radica en el Distrito Federal, as&iacute; como la identidad de la persona que se present&oacute; a la cita y que se recibi&oacute; para la aplicaci&oacute;n de pruebas.</p>
                </div>
                <div class="candidate-modal-notification cmnotification"></div>
                <div class="modal-footer">
                    <button type="button" id="btn-candidateIdentity" class="nspbutton-aceptar btn white">S&Iacute;, confirmo</button>
                    <button type="button" data-dismiss="modal" class="btn">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
    <!-- End modal -->
</section>
<script>
            
    function getUrlParameter(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    
    function getWeekdayLabel(year, month, day){
        var weekdayDate = new Date(year, (month-1), day);
        var weekday = new Array(7);
        weekday[0]=  "Domingo";
        weekday[1] = "Lunes";
        weekday[2] = "Martes";
        weekday[3] = "Miercoles";
        weekday[4] = "Jueves";
        weekday[5] = "Viernes";
        weekday[6] = "Sabado";

        var weekdayLabel = weekday[weekdayDate.getDay()];
        return weekdayLabel;
    }
    
    function navigateMonths(navigation) {
        var setMonthVal = $("#actualNumMonth").text() - 1;  // Substract 1 to adapt to Date format       
        var dmonth = new Date({% if Data.selectedYear == "" %} {{Data.currentYear}} {% else %} {{Data.selectedYear}} {% endif %}, ({{Data.currentNumMonth}}-1), {{Data.currentDay}});
        dmonth.setMonth(setMonthVal,1);
        if (navigation === 'next') {            
            dmonth.setMonth(dmonth.getMonth() + 1);
        } else if (navigation === 'previous') {
            dmonth.setMonth(dmonth.getMonth() - 1);
        } else {
            var actualMonth = new Date();            
            $_candidates.get('interviewsCandidates', '/empresa/agendar/index/{{Data.currentDay}}/' + (actualMonth.getMonth()+1) + "/"+ actualMonth.getFullYear())    
            return;
        }
        $_candidates.get('interviewsCandidates', '/empresa/agendar/index/1/'+ (dmonth.getMonth()+1) + "/" + dmonth.getFullYear());
    }

    function togglePanel(target, candidateId) {
        var panel = $(target);
        if (panel.hasClass('showPanelContents')) {
            panel.removeClass('showPanelContents');
            $('.contentRight').fadeOut('slow', function() {
                $(target).stop().animate({
                    width: '0',
                    opacity: 0.0
                }, 500)
            })
        } else {
			if(candidateId != undefined){
				panel.addClass('showPanelContents');
				$(target).stop().animate({
					width: '615',
					opacity: 0.95
				}, 500, function() {
					$('.contentRight').fadeIn('slow');
					//  let's get the slider content
					$.post('{{Core.Domains.core}}gobierno/{{MVC.controller}}/getScheduleDetail', {cid:candidateId, date:$('#selectedDate').val()},function(data) {
						$("#slider-content").html(data);
						$('.fileupload').fileupload($optionsFileUpload).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
						$("#slider-content").attr('id-candidate', candidateId);
						enableExam();
					}); 
				});				
			}
        }
    } 

    function showNotification(target,type,message){
        var html = "<p class='alert alert-"+type+"'>"+message+"</p>";
        $(target).prepend(html);
    };

    $(document).ready(function() {
        $('.day-fetch-data').click(function() {
            
            if($("#panelRight").hasClass('showPanelContents')){
                togglePanel('#panelRight');
            }			
            
            day     = $(this).attr('fd').substring(8,10);
            month   = $(this).attr('fd').substring(5,7);
            year    = $(this).attr('fd').substring(0,4);
            
            $("#currentDaySelected").text(day);
            $("#currentDayToday").text(day);
            $("#weekday").text(getWeekdayLabel(year, month, day));
            
            $.post('{{Core.Domains.core}}gobierno/{{MVC.controller}}/getDailySchedule', {fd:$(this).attr('fd')},function(data) {
                $("#agenda-wrapper").html(data);
            });
        });        
        
        {% if Data.fd == 0 %}
            //  lets load the today schedule
            var today = $.datepicker.formatDate('yy-mm-dd', new Date());
            $.post('{{Core.Domains.core}}gobierno/{{MVC.controller}}/getDailySchedule', {fd:today},function(data) {
                $("#agenda-wrapper").html(data);
            });
        {% else %}
            {% if Data.selectedDay is not empty %}
                //  lets load the today schedule
                var today = '{{Data.selectedYear}}-{{Data.currentNumMonth}}-{{Data.selectedDay}}';
                $.post('{{Core.Domains.core}}gobierno/{{MVC.controller}}/getDailySchedule', {fd:today},function(data) {
                    $("#agenda-wrapper").html(data);
                });
                $("#weekday").text(getWeekdayLabel({{Data.selectedYear}}, {{Data.currentNumMonth}}, {{Data.selectedDay}}));
            {% endif %}
        {% endif %}
    });
</script>
<!-- end main area -->