{# <?php ?> #}
<form id="contactForm">
<div class="row">	
	<div class="col-md-7">
                <h6 class="gray">Asunto:</h6>
		<input type="text" placeholder="Asunto" class="form-control" name="contact[subject]" required="required"/>
                <h6 class="mtoplogin gray">Lugar de la entrevista:</h6>
                <textarea placeholder="Lugar de la entrevista" class="form-control textarealugar" name="contact[Place]">{{Data.company.street}} #{{Data.company.outside_number}}{% if Data.company.internal_number > 0 %},  Int. {{Data.company.internal_number}}{% endif %}

Col. {{Data.company.colony}}
{{Data.company.delegation}}, CP. {{Data.company.zip_code}} </textarea>
		<div class="row">
			<div class="col-md-6">
                            <input type="text" placeholder="Fecha" class="form-control" id="datePicker" name="contact[Date]" readonly/>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="contact[Hour]">
					<option value="">Hora</option>
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					{% for i in 10..23 %}
				    <option value="{{i}}">{{i}}</option>
					{% endfor %}	
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="contact[Minute]">
					<option value="">Minuto</option>
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					{% for i in 10..59 %}
				    <option value="{{i}}">{{i}}</option>
					{% endfor %}	
				</select>
			</div>
		</div>
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="mtoplogin gray">Preguntar por:</h6>
                        <input type="text" placeholder="Pregunta por" class="form-control" name="contact[interviewer]" value="{{Data.user.name}} {{Data.user.last_name}}"/>
                    </div>
                </div>
                <h6 class="mtoplogin gray">Mensaje:</h6>
		<textarea placeholder="Mensaje para el candidato" class="form-control textareaentrevista" name="contact[Message]"></textarea>
		<input type="button" class="btn" value="Enviar" id="sendMsg" candidate-id="{{Data.candidate.uid}}"/>	
		<input type="hidden" value="{{Data.candidate.email}}" name="contact[email]"/>
		<input type="hidden" value="{{Data.candidate.name}} {{Data.candidate.last_name}}" name="contact[full_name]"/>
	<div class="alert alert-danger" style="display:none">    
    </div>	
	</div>
        <div class="col-md-3 border-left">
            <h5><span class="glyphicon glyphicon-book"></span> Datos de contacto</h5>
                    <p>
                    <h6>Nombre:</h6>
                    {{Data.candidate.name}} {{Data.candidate.last_name}}
                    </p>
                    <p>
                    <h6>Email:</h6>
                    {{Data.candidate.email}}
                    </p>
                    <p>
                    <h6>Telefono:</h6>    
                    {{Data.candidate.phone_number}}
                    </p>
                    <p>
                    <h6>Direcci&oacute;n:</h6>    
                    {{Data.candidate.address}} #{{Data.candidate.outside_number}}
					<br/>Col. {{Data.candidate.colony}}, {{Data.candidate.delegation}}
					<br/>C.P. {{Data.candidate.zip_code}}
                    </p>
        </div>
</div>
</form>