
<div class="list_documents">
	<table class="table table-striped">
	    <tbody>				
		{% for item in Data.documents %}					
			<tr class="document-control" id-document="{{item.id}}">						
				<td class="document_name">{{item.document_name}}</td>
				<td class="document_date">{{item.file.entry_date|date("d/m/Y")}}</td>
				<td class="text-right">
					<a class="btn" href="{{ Core.Domains.core }}gobierno/agendar/viewDocument/{{item.file.file_name}}" target="_blank"><i class="fa fa-download"></i>
	</a>
					<div class="btn delete deleteDocument delete-modal" id-document="{{item.id}}">
	<i class="fa fa-times"></i>

	</div>
				</td>
			</tr>
		{% endfor %}                    
	    </tbody>
	</table>
</div>