{% set months = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"] %}
{% set extensiones = {'pdf':'fa fa-file-pdf-o', 'doc':'fa fa-file-word-o', 'docx':'fa fa-file-word-o', 'jpg':'fa fa-file-image-o', 'jpeg':'fa fa-file-image-o', 'png':'fa fa-file-image-o', 'bmp':'fa fa-file-image-o', 'gif':'fa fa-file-image-o'} %}

{% include 'profile_header.twig' %}
<div class="mtop mbottom cc-container">
    <div class="row candidate-content">
        <div class="col-md-10">
            <div class="tabpanel" id="candidate-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#cv" aria-controls="home" role="tab" data-toggle="tab">Perfil</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="profile" role="tab" data-toggle="tab">Mensajes<span class="badge"></span></a></li>
                    <li role="presentation"><a href="#test" aria-controls="test" role="tab" data-toggle="tab">Psicom&eacute;trico</a></li>
                    {% if Data.curriculums %}<li role="presentation"><a href="#curriculum" aria-controls="curriculum" role="tab" data-toggle="tab">Curriculums</a></li>{% endif %}
                    <!-- <li role="presentation"><a href="#favorites" aria-controls="favorites" role="tab" data-toggle="tab">Mis Vacantes</a></li> -->
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <a href="/candidato/cuenta/index/classic" class="green switch-label"><span><i class="fa fa-bars orange"></i>&nbsp;&nbsp;Vista cl&aacute;sica</span></a>
        </div>
    </div>

    <div class="row mrgn-negative-8">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="cv">
                <div class="col-md-12">
                    <div class="panel panel-default panel-borderless">
                        <div class="panel-heading">
                            <h3 class="panel-title">L&Iacute;NEA DEL TIEMPO</h3>
                        </div>
                        <div class="panel-body">
                            <div class="container">
                                <div id="timeline">
                                    <div class="row timeline-movement timeline-movement-top">
                                        <div class="timeline-badge timeline-future-movement">
                                            <a href="#">
                                                <span class="glyphicon glyphicon-chevron-up"></span>
                                            </a>
                                        </div>
                                        <div class="timeline-badge timeline-filter-movement">
                                            <div class="header-timeline">
                                                <h6>Profesional</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <section>
                                        {% set cambio = 'falso' %}
                                        {% for job in Data.jobs %}

                                            {% set monthActual = job.startDate|split('-') %}
                                            {% if cambio == 'falso' %} 
                                                <div class="row timeline-movement">

                                                    <div class="glyphicon glyphicon-briefcase timeline-badge">
                                                    </div>

                                                    <div class="col-sm-6  timeline-item">
                                                        <div class="row">
                                                            <div class="col-sm-offset-1 col-sm-11">
                                                                <div class="timeline-panel credits">
                                                                    <ul class="timeline-panel-ul">
                                                                        <li><span class="importo">{{ months[monthActual[0] * 1] }} {{ monthActual[1] }} - {% if job.endDate is empty %} Actual {% else %} {% set monthActualEnd = job.endDate|split('-') %} {{ months[monthActualEnd[0] * 1] }} {{ monthActualEnd[1] }} {% endif %}</span></li>
                                                                        <li><span class="causale">{{ job.position }} </span> </li>
                                                                        <li><span>{{ job.job_description }}</span></li>
                                                                        <li><p>{{ job.company }} en {{ job.location }}</p> </li>
                                                                    </ul>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% set cambio = 'verdadero' %}
                                            {% else %}
                                                <div class="row timeline-movement">

                                                    <div class="glyphicon glyphicon-briefcase timeline-badge">
                                                    </div>

                                                    <div class="col-sm-offset-6 col-sm-6  timeline-item">
                                                        <div class="row">
                                                            <div class="col-sm-offset-1 col-sm-11">
                                                                <div class="timeline-panel debits">
                                                                    <ul class="timeline-panel-ul">
                                                                        <li><span class="importo">{{ months[monthActual[0] * 1] }} {{ monthActual[1] }} - {% if job.endDate is empty %} Actual {% else %} {% set monthActualEnd = job.endDate|split('-') %} {{ months[monthActualEnd[0] * 1] }} {{ monthActualEnd[1] }} {% endif %}</span></li>
                                                                        <li><span class="causale">{{ job.position }} </span> </li>
                                                                        <li><span>{{ job.job_description }}</span></li>
                                                                        <li><p>{{ job.company }} en {{ job.location }}</p> </li>
                                                                    </ul>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% set cambio = 'falso' %}
                                            {% endif %}

                                        {% else %}
                                            {% if cambio == 'falso' %}
                                            	<div class="row timeline-movement">

                                                    <div class="glyphicon glyphicon-briefcase timeline-badge">
                                                    </div>

                                                    <div class="col-sm-6  timeline-item">
                                                        <div class="row">
                                                            <div class="col-sm-offset-1 col-sm-11">
                                                                <div class="timeline-panel credits dashed click-element" onclick="navigatetoSettings(event);">
                                                                    <ul class="timeline-panel-ul">
                                                                        <li>
                                                                        	<div class="col-md-10">
        	                                                                	<span class="importo">A&ntilde;adir Concepto</span>
        	                                                                </div>
                                                                        	<div class="col-md-2 fa fa-plus position-add"></div>
                                                                        </li>
                                                                    </ul>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% set cambio = 'verdadero' %}
                                            {% else %}
                                                <div class="row timeline-movement">
                                                    <div class="fa fa-graduation-cap timeline-badge">
                                                    </div>

                                                    <div class="col-sm-offset-6 col-sm-6  timeline-item">
                                                        <div class="row">
                                                            <div class="col-sm-offset-1 col-sm-11">
                                                                <div class="timeline-panel debits dashed click-element" onclick="navigatetoSettings(event);">
                                                                    <ul class="timeline-panel-ul">
                                                                        <li>
                                                                            <div class="col-md-2 fa fa-plus position-add"></div>
                                                                            <div class="col-md-10">
                                                                                <span class="importo">A&ntilde;adir Concepto</span>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </section>

                                    <div class="row timeline-movement timeline-movement-top">
                                        <div class="timeline-badge timeline-filter-movement">
                                            <div class="header-timeline">
                                                <h6>Estudios</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <section id="estudios">
                                        {% for school in Data.schools %}
                                            {% if cambio == 'falso' %}
                                                <div class="row timeline-movement">

                                                    <div class="fa fa-graduation-cap timeline-badge">
                                                    </div>

                                                    <div class="col-sm-6  timeline-item">
                                                        <div class="row">
                                                            <div class="col-sm-offset-1 col-sm-11">
                                                                <div class="timeline-panel credits">
                                                                    <ul class="timeline-panel-ul">
                                                                        <li><span class="importo">{{ school.startYear }} a {{ school.endYear }}</span></li>
                                                                        <li><span class="causale">{{ school.degree }}. </span> </li>
                                                                        <li><p>{{ school.name }}</p> </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% set cambio = 'verdadero' %}
                                            {% else %}
                                                <div class="row timeline-movement">

                                                    <div class="fa fa-graduation-cap timeline-badge">
                                                    </div>

                                                    <div class="col-sm-offset-6 col-sm-6  timeline-item">
                                                        <div class="row">
                                                            <div class="col-sm-offset-1 col-sm-11">
                                                                <div class="timeline-panel debits">
                                                                    <ul class="timeline-panel-ul">
                                                                        <li><span class="importo">{{ school.startYear }} a {{ school.endYear }}</span></li>
                                                                        <li><span class="causale">{{ school.degree }}. </span> </li>
                                                                        <li><p>{{ school.name }}</p> </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% set cambio = 'falso' %}
                                            {% endif %}
                                        {% else %}
                                             {% if cambio == 'falso' %}
                                                <div class="row timeline-movement">
                                                        <div class="fa fa-graduation-cap timeline-badge">
                                                        </div>

                                                        <div class="col-sm-6  timeline-item">
                                                            <div class="row">
                                                                <div class="col-sm-offset-1 col-sm-11">
                                                                    <div class="timeline-panel credits dashed click-element" onclick="navigatetoSettings(event);">
                                                                        <ul class="timeline-panel-ul">
                                                                            <li>
                                                                                <div class="col-md-10">
                                                                                    <span class="importo">A&ntilde;adir Concepto</span>
                                                                                </div>
                                                                                <div class="col-md-2 fa fa-plus position-add"></div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                                {% set cambio = 'verdadero' %}
                                            {% else %}
                                            <div class="row timeline-movement">
                                                    <div class="fa fa-graduation-cap timeline-badge">
                                                    </div>

                                                    <div class="col-sm-offset-6 col-sm-6  timeline-item">
                                                        <div class="row">
                                                            <div class="col-sm-offset-1 col-sm-11">
                                                                <div class="timeline-panel debits dashed click-element" onclick="navigatetoSettings(event);">
                                                                    <ul class="timeline-panel-ul">
                                                                        <li>
                                                                            <div class="col-md-2 fa fa-plus position-add"></div>
                                                                            <div class="col-md-10">
                                                                                <span class="importo">A&ntilde;adir Concepto</span>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}

                                    </section>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default panel-borderless">
                        <div class="panel-heading">
                            <h3 class="panel-title">Habilidades</h3>
                        </div>
                        <div class="panel-body">
                            {% set levels = {'Principiante': '33|red', 'Intermedio': '66|orange', 'Avanzado': '100|green'} %}
                            <div class="skill">
                                {% for skill in Data.skills %}
                                    <div class="col-md-3">
                                        <p>{{ skill.skillName }}</p>
                                        {% set skillView = levels[skill.skillLevel]|split('|') %}
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="{{ skillView[0] }}" aria-valuemin="0" aria-valuemax="{{ skillView[0] }}" style="width: {{ skillView[0] }}%; background-color: {{ skillView[1] }};">
                                                <span class="sr-only"></span>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-md-3">
                                        <div class="media click-element add-sl" onclick="navigatetoSettings(event);">
                                            <a class="pull-left" href="#"><div class="position-sl"><h6 class="fa fa-plus"></h6></div></a>
                                            <div class="media-body">
                                                <h5 class="media-heading">A&ntilde;adir Concepto</h5>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel panel-default panel-borderless">
                        <div class="panel-heading">
                            <h3 class="panel-title">Idiomas</h3>
                        </div>
                        <div class="panel-body">
                            {% for language in Data.languages %}
                                <div class="col-md-3">
                                    <div class="languageView">
                                        <h5 style="font-weight: 600;">{{ language.languageName }}</h5>
                                        <p style="color: #aaa;">{{ language.languageLevel }}</p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-3">
                                    <div class="media click-element add-sl" onclick="navigatetoSettings(event);">
                                        <a class="pull-left" href="#"><div class="position-sl"><h6 class="fa fa-plus"></h6></div></a>
                                        <div class="media-body">
                                            <h5 class="media-heading">A&ntilde;adir Concepto</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-6">
                        <div class="panel panel-default panel-borderless">
                          <div class="panel-heading">
                            <h3 class="panel-title">Premios o Menciones</h3>
                          </div>
                          <div class="panel-body">
                                <div class="media awards">
                                  <a class="pull-left" href="#">
                                    <i class="fa fa-bookmark"></i>
                                  </a>
                                  <div class="media-body">
                                    <h5 class="media-heading">Imagine Cup</h5>
                                    <p>Segundo Lugar con el Proyecto "Rayo Rebelde".</p>
                                    <p>Microsoft.</p>
                                  </div>
                                </div>
                                <div class="media awards">
                                  <a class="pull-left" href="#">
                                    <i class="fa fa-bookmark"></i>
                                  </a>
                                  <div class="media-body">
                                    <h5 class="media-heading">Cartel de Morelos</h5>
                                    <p>Primer Lugar con cartel "Ganso".</p>
                                    <p>Gobierno del Estado</p>
                                  </div>
                                </div>
                          </div>
                        </div>
                </div> -->
            </div>

            <div role="tabpanel" class="tab-pane" id="messages">
                {% include 'messages.twig' with {'messages': Data.messages } %}
            </div>

            <div role="tabpanel" class="tab-pane" id="test">
                <div class="col-md-4 left-data">
                    <div class="progress barras-progress">
                        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 15%"></div>
                    </div>
                    <span class="areas">15% Administrativo</span><br/>

                    <div class="progress barras-progress">
                        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
                    </div>
                    <span class="areas">65% Comercial</span><br/>

                    <div class="progress barras-progress">
                        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
                    </div>
                    <span class="areas">85% Servicio al cliente</span><br/>

                    <div class="progress barras-progress">
                        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                    <span class="areas">100% Operativo</span>
                </div>
                <div class="col-md-8">
                    <div id="snake-graph"></div>
                </div>
            </div>
            {% if Data.curriculums %}
                {% include 'candidate_curriculums.twig' %}
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ Core.Domains.theme }}js/draggable_background.js"></script>
<script>
    $(document).ready(function () {
        $('#snake-graph').highcharts({
            chart: {
                type: 'line',
                inverted: true,
                backgroundColor: 'transparent'
            },
            title: {
                text: 'Gráfica de perfilamiento',
                style: {'font-size': '20px'}
            },
            xAxis: [{
                    gridLineWidth: 0,
                    offset: 12,
                    categories: [
                        'Pensamiento Práctico',
                        'Integridad Alta',
                        'Respeto a Normas Bajo',
                        'Baja tendencia al Robo',
                        'Deshonesto',
                        'Espontáneo',
                        'Sumiso',
                        'Emocionalmente Inestable',
                        'Serio',
                        'Confiado',
                        'Exigente',
                        'Orientado al Servicio',
                        'Pacífico',
                        'Introvertido',
                        'Flexible',
                        'Independiente'
                    ],
                    reversed: true,
                    labels: {
                        formatter: function () {
                            //return this.value + 'km';
                            return this.value;
                        }
                    },
                    maxPadding: 60,
                    showLastLabel: true
                }, {
                    linkedTo: 0,
                    offset: 12,
                    categories: [
                        'Pensamiento Estructurado',
                        'Integridad Baja',
                        'Respeto a Normas Alto',
                        'Alta tendencia al Robo',
                        'Honesto',
                        'Diplomático',
                        'Dominante',
                        'Emocionalmente Estable',
                        'Impetuoso',
                        'Suspicaz',
                        'Comprensivo',
                        'Orientado a la Ganancia',
                        'Enérgico',
                        'Extrovertido',
                        'Metódico',
                        'Dependiente'
                    ],
                    reversed: true,
                    labels: {
                        formatter: function () {
                            //return this.value + 'km';
                            return this.value;
                        }
                    },
                    opposite: true,
                    maxPadding: 60,
                    showLastLabel: true
                }],
            yAxis:
                    {
                        gridLineWidth: 0,
                        tickInterval: 1,
                        title: {enabled: false},
                        min: 1,
                        max: 10,
                        labels: {
                            formatter: function () {
                                //return this.value + '°';
                                return this.value;
                            }
                        },
                        opposite: true
                    },
            legend: {
                enabled: false
            },
            tooltip: {
                enabled: false,
                headerFormat: '<b>{series.name}</b><br/>',
                pointFormat: '{point.x} Competencia: {point.y} Evaluacion'
            },
            plotOptions: {
                spline: {
                    marker: {
                        enable: false
                    }
                }
            },
            series: [{
                    lineWidth: 4,
                    color: '#ff7900',
                    data: [
                        [0, 8],
                        [1, 9],
                        [2, 1],
                        [3, 2],
                        [4, 5],
                        [5, 2],
                        [6, 7],
                        [7, 10],
                        [8, 6],
                        [9, 5],
                        [10, 4],
                        [11, 10],
                        [12, 10],
                        [13, 3],
                        [14, 8],
                        [15, 9]
                    ]
                }],
            credits: {enabled: false},
            exporting: {
                enabled: false
            }
        });
    });
</script>