{# <?php ?> #}
{% extends 'default.twig' %}
{% block content %}
<!-- start main area -->
<section id="mainArea">
    <div class="container">               
        <div class="panel panel-warning mbottom" id="candidates_lists">
            <div class="panel-heading head-panel">
				<div class="row header-title" style="display:none">
					<div class="col-lg-10">				
					TITLE
					</div>
				</div>
                <div class="row filter-controller">
					<div class="col-lg-6 tab-title">				
					Candidatos
					</div>					
                    <div class="col-lg-4">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-search" id="search-icon-input"></i></span>
                          <input id="candidate-search" type="text" class="form-control" placeholder=" Buscar por nombre">
                        </div>
                    </div>
                    <div class="col-lg-2 right-oriented">
                        <button type="button" class="btn btn-default" id="candidate-filters" onclick="switchFilterWindow()">
                            <i id="icon-filtrar" class="fa fa-filter"></i> Filtrar
                        </button>
                        <div id="filter-container" class="left-oriented">
                            <br>
                            <div class="row">
                                <div class="col-lg-4 label-form-filter">Mis b&uacute;squedas:</div>
                                <div class="col-lg-7 input-form-filter">
                                    <select class="form-control" id="select-filter-input" onchange="_filtros.loadSelectedFilter()">
                                    </select>
                                </div>                                
                            </div>
                            <div id="line-inside"></div>
                            
                            <input type="hidden" id="bus_owner_id" value="{{Data.Filters.Owner}}"/>
                            
                            <div class="row">
                                <div class="col-lg-4 label-form-filter">Edad:</div>
                                <div class="col-lg-7 input-form-filter">    
                                    <span class="label-filter-template">De </span>
                                    <input type="text" width="20" id="_mayor_a" class="form-control input-filter-general input-filter-number" onchange="_filtros.listener('edad_mayor',this);">
                                    <span class="label-filter-template">A </span>
                                    <input type="text" width="20" id="_menor_a" class="form-control input-filter-general input-filter-number" onchange="_filtros.listener('edad_menor',this);">
                                    <span class="label-filter-template">a&ntilde;os </span>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-lg-4 label-form-filter">Sexo:</div>
                                <div class="col-lg-7 input-form-filter">
                                    <input type="radio" name="genero-input" value="1" class="input-filter-general adjusting-radio" onchange="_filtros.listener('genero',this);">
                                    <span class="label-filter-template">Hombre</span>
                                    <input type="radio" name="genero-input" value="0" class="input-filter-general adjusting-radio" onchange="_filtros.listener('genero',this);">
                                    <span class="label-filter-template">Mujer</span>
                                    <input type="radio" name="genero-input" id="gen_default" value="-1" checked class="input-filter-general adjusting-radio" onchange="_filtros.listener('genero',this);">
                                    <span class="label-filter-template">Indistinto</span>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-lg-4 label-form-filter">Delegación:</div>
                                <div class="col-lg-7 input-form-filter">
                                    <select class="form-control" id="del_default" onchange="_filtros.listener('delegacion',this);">
                                        <option value='0'>Cualquiera</option>
                                        {% for city in Data.Filters.cities %}
                                            <option value='{{city.id}}'>{{city.name}}</option>
                                        {% endfor %}
                                      </select>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-lg-4 label-form-filter">Con licencia de conducir:</div>
                                <div class="col-lg-7 input-form-filter">
                                    <input type="radio" name="licencia-input" value="1" class="input-filter-general adjusting-radio" onchange="_filtros.listener('licencia',this);">
                                    <span class="label-filter-template">Si</span>
                                    <input type="radio" name="licencia-input" value="0" class="input-filter-general adjusting-radio" onchange="_filtros.listener('licencia',this);">
                                    <span class="label-filter-template">No</span>
                                    <input type="radio" name="licencia-input" id="lic_default" value="-1" checked class="input-filter-general adjusting-radio" onchange="_filtros.listener('licencia',this);">
                                    <span class="label-filter-template">Indistinto</span>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-lg-4 label-form-filter">Grado de estudios:</div>
                                <div class="col-lg-7 input-form-filter">
                                    <select class="form-control" id="est_default" onchange="_filtros.listener('estudios',this);">
                                        <option value="0">Cualquiera</option>
                                        {% for degree in Data.Filters.studies %}
                                            <option value="{{degree.id}}">{{degree.name}}</option>
                                        {% endfor %}
                                      </select>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-lg-4 label-form-filter">Estudios concluidos:</div>
                                <div class="col-lg-7 input-form-filter">
                                    <div class="col-lg-8 input-form-filter">
                                    <input type="radio" name="concluidos-input" value="1" class="input-filter-general adjusting-radio" onchange="_filtros.listener('concluidos',this);">
                                    <span class="label-filter-template">Si</span>
                                    <input type="radio" name="concluidos-input" value="0" class="input-filter-general adjusting-radio" onchange="_filtros.listener('concluidos',this);">
                                    <span class="label-filter-template">No</span>
                                    <input type="radio" name="concluidos-input" id="con_default" value="-1" checked class="input-filter-general adjusting-radio" onchange="_filtros.listener('concluidos',this);">
                                    <span class="label-filter-template">Indistinto</span>
                                </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-lg-4 label-form-filter">Estado civil:</div>
                                <div class="col-lg-7 input-form-filter">
                                    <select class="form-control" id="estado_default" onchange="_filtros.listener('estado',this);">
                                        <option value="0">Indistinto</option>
                                        <option value="2">Soltero(a)</option>
                                        <option value="1">Casado(a)</option>
                                        <option value="3">Divorciado(a)</option>
                                        <option value="4">Unión libre</option>
                                      </select>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-lg-4 label-form-filter">Hijos:</div>
                                <div class="col-lg-7 input-form-filter">
                                    <select class="form-control" id="hij_default" onchange="_filtros.listener('hijos',this);">
                                        <option value="-1">Indistinto</option>
                                        <option value="1">Sin hijos</option>
                                        <option value="3">Hasta dos hijos</option>
                                        <option value="4">Mas de dos hijos</option>
                                      </select>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-lg-4 label-form-filter">Turno deseado:</div>
                                <div class="col-lg-7 input-form-filter">
                                    <select class="form-control" id="turno_default" onchange="_filtros.listener('turno',this);">
                                        <option value="0">Indistinto</option>
                                        <option value="1">Matutino</option>
                                        <option value="2">Vespertino</option>
                                        <option value="3">Nocturno</option>
                                      </select>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-lg-4 label-form-filter">Perfil:</div>
                                <div class="col-lg-7 input-form-filter">
                                    <table style="margin-top:12px;">
                                        <tr>
                                            <td>
                                                <label class="checkbox" style="margin-left:0px; height: 0px; margin-top:0px; margin-bottom:0px;">
                                                    <input id="check-perfil1" type="checkbox" value="Administrativo" onchange="_filtros.listener('perfil1',this);"> 
                                                    <span class="label-filter-template2">Administrativo</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="checkbox" style="margin-left:0px; height: 0px; margin-top:0px; margin-bottom:0px;">
                                                    <input id="check-perfil2" type="checkbox" value="Comercial" onchange="_filtros.listener('perfil2',this);"> 
                                                    <span class="label-filter-template2">Comercial</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="checkbox" style="margin-left:0px; height: 0px; margin-top:0px; margin-bottom:0px;">
                                                    <input id="check-perfil3" type="checkbox" value="Operativo" onchange="_filtros.listener('perfil3',this);"> 
                                                    <span class="label-filter-template2">Operativo</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="checkbox" style="margin-left:0px; height: 0px; margin-top:0px; margin-bottom:0px;">
                                                    <input id="check-perfil4" type="checkbox" value="Servicio al cliente" onchange="_filtros.listener('perfil4',this);"> 
                                                    <span class="label-filter-template2">Servicio al cliente</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </table>
                                    
                                </div>                                
                            </div>
                            <div id="line-inside" style="margin-top:34px;"></div>
                            <div class="row">
                                <div class="col-lg-11 input-form-filter right-oriented">                                   
                                    <button class="btn btn-default btn-inside-filter" onclick="_filtros.apply()" type="button">
                                        <i class="fa fa-check"></i>
                                        <span class="txt-inside-button">Aplicar</span>
                                    </button>
                                    <input type="text" id="name-filter" placeholder="Nombre del filtro" class="form-control"/>
                                    <label class="checkbox check-inside-filter">
                                        <input type="checkbox" id="check-save"> <span>Guardar filtro</span>
                                    </label>
                                    
                                </div>                                
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
          <div class="panel-body">
            <div id="tab"></div>
          </div>        
      </div>        
    </div>		
</section>

<div id="modalDiscard" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		    <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">Descartar candidato(s)</h4>
      	</div>
      <div class="modal-body">
        <p>¿Deseas descartar al(los) candidato(s)?</p>
        <div ID="msgDiscard" class="alert alert-danger" style="display:none"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn delete-modal white" id="btnDiscard">Descartar candidato(s)</button>
        <button type="button" class="btn cancel-modal" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div id="modalDismiss" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">Dar de baja a(los) candidato(s)</h4>
        </div>
      <div class="modal-body">
	  	<form id="reasonsToDismiss">	  	
			<p>¿Deseas dar de baja al(los) candidato(s)?</p>
			Fecha de baja:
			<br/>
			<input type="text" value="" id="fired-date" name="date"/>
			<br/><br/>
			Motivo:
			<br/>
			<label class="modal-label"><input type="radio" name="reason" value="1" checked="checked" id="quit"/> &nbsp;Renuncia voluntaria</label>
			<label class="modal-label"><input type="radio"name="reason" value="2" id="fired"/> &nbsp;Abandono el empleo</label>
			<label class="modal-label"><input type="radio"name="reason" value="3" id="fired"/> &nbsp;Bajo desempeño</label>
			<label class="modal-label"><input type="radio"name="reason" value="4" id="fired"/> &nbsp;Incumplio Politica</label>
			<label class="modal-label"><input type="radio"name="reason" value="5" id="fired"/> &nbsp;Incompatibilidad con perfil</label>
			<br/><br/>
			<div ID="msgDismiss" class="alert alert-danger" style="display:none"></div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn delete-modal white" id="btnDismiss">Dar de baja</button>
        <button type="button" class="btn cancel-modal" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div id="modalHire" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Contratar candidato(s)</h4>
      </div>
      <div class="modal-body">
          <p>¿Deseas contratar al(los) candidato(s)?</p>
          <div ID="msgHire" class="alert alert-danger" style="display:none"></div>
      </div>            
      <div class="modal-footer">
        <button type="button" class="btn hire-modal white" id="btnHire">Contratar candidato(s)</button>
        <button type="button" class="btn cancel-modal" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div id="modalTest" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Prácticas Laborales</h4>
      </div>
      <div class="modal-body">
          <p>¿Deseas que los candidatos seleccionados realizen Prácticas Laborales?</p>
          <div ID="msgTest" class="alert alert-danger" style="display:none"></div>
      </div>            
      <div class="modal-footer">
        <button type="button" class="btn hire-modal white" id="btnTest">Prácticas Laborales</button>
        <button type="button" class="btn cancel-modal" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
                                      
<div class="modal fade" id="modalProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Gráfica de Perfilamiento</h4>
      </div>
      <div class="modal-body snake-graph" id="modalProfilebody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>                                      


<div id="modalNoHire" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		    <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">No contratar al candidato </h4>
      	</div>
      <div class="modal-body">
        <p>¿No deseas contratar al candidato ?</p>
        <div ID="msgNoHire" class="alert alert-danger" style="display:none"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn delete-modal white" id="btnNoHire">No contratar</button>
        <button type="button" class="btn cancel-modal" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<div id="modalNoAction" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		    <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">Contratar al candidato</h4>
      	</div>
      <div class="modal-body">
        <p>
		El programa de Prácticas Laborales tiene una duración de 30 días.
		<br/>
		Por lo que aún no puedes efectuar esta acción.
		</p>        
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn cancel-modal" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<!-- end main area -->
{% endblock %}
