<form id="deleteUserForm">
	<h4>¿Eliminar a este usuario{% if Data.vacancies %} y reasignar las vacantes{% endif %}?</h4>
	<br>
	{% if Data.users %}
	Las siguentes vacantes pertenecen a este usuario:
		<ul>
		{% for vacancy in Data.vacancies %}
		<li>
			<input value="{{vacancy.id}}" type="hidden" name="vacancies[ids][]">
			{{vacancy.position}}
		</li>
		{% endfor %}		
		</ul>
	{% endif %}
	{% if Data.users %}
		<label>Asignar a:</label>
		<select class="form-control" name="vacancies[uid]">
		{% for user in Data.users %}
			{% if Data.uid != user.uid %}
			<option value="{{user.uid}}">{{user.name}} {{user.last_name}}</option>
			{% endif %}
		{% endfor %}
		</select>
	{% endif %}
	<input type="hidden" value="5" name="user[original_rid]">
	<input type="hidden" value="{{Data.uid}}" name="user[uid]">	
</form>