{% if Data.position %}
    <div class="row vacancy-detail">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-md-12 to-apply">
                    <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;<span class="tatext">Para ver todos los detalles de esta oferta y poder aplicar, <a href="#">inicia sesi&oacute;n</a> o <a href="#">reg&iacute;strate</a></span>
                </div>
            </div>
            <div class="row mbottom">
                {% if Data.open %}
                    <div class="col-md-3 company-logo-mini">
                        <br>			
                        {% if Data.logo %}					
                            <img src="{{Data.logo}}" class="img-thumbnail" alt="{{Data.company}}" title="{{Data.company}}" data-toggle="tooltip" data-placement="bottom">
                        {% else %}
                            <div class="img-thumbnail text-company-logo" data-toggle="tooltip" data-placement="bottom" title="{{Data.company}}">{{Data.company}}</div>
                        {% endif %}
                    </div>				
                {% endif %}				
                <div class="col-xs-9 mtoplogin {% if Data.open %}section-position{% endif %}">
                    <h2 class="position-name">{{Data.position}}</h2>
                    {% if Data.department %}<p>Departamento: <strong>{{Data.department}}</strong></p>{% endif %}
                    <div class="row">
                        <div class="posted-detail col-sm-6">Creada el <strong>{{Data.created|date('d/m/Y')}}</strong></div>
                        {% if Data.for_candidates == 0 %}
                            <div class=" col-sm-6 text-right">{% if Data.published == 1 %}<i class="fa fa-check"></i> Publicada en mi sitio web{% endif %}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr class="hrhome"/>
            <div class="textArea mtop">
                <div class="list-vacancy-details">
                    {% if Data.functions %}
                        <div class="pdetail">						

                            <i class="fa fa-cogs idsize icons-detail"></i>
                            {% set functions = [] %} 
                            {% for item in Data.functions %}
                                {% set functions = functions|merge([item.value]) %}                  	
                            {% endfor %}
                            {{ functions | join(', ') }}	

                        </div>
                    {% endif %}
                    {% if Data.id_vacancy_type %}					
                        <div class="pdetail">

                            <i class="fa fa-clock-o idsize icons-detail"></i>
                            {% if Data.id_vacancy_type == 1 %}Tiempo completo{% endif %}
                            {% if Data.id_vacancy_type == 2 %}Medio tiempo{% endif %}
                            {% if Data.id_vacancy_type == 3 %}Temporal{% endif %}
                            {% if Data.id_vacancy_type == 4 %}Pasantia{% endif %}
                            {% if Data.id_vacancy_type == 5 %}Por Contrato{% endif %}
                            {% if Data.id_vacancy_type == 6 %}Voluntario{% endif %}
                            {% if Data.id_vacancy_type == 7 %}Primer empleo{% endif %}
                            {% if Data.id_vacancy_type == 8 %}Por Horas{% endif %}
                            {% if Data.id_vacancy_type == 9 %}Fines de Semana{% endif %}
                            {% if Data.id_vacancy_type == 10 %}Teletrabajo{% endif %}

                        </div>
                    {% endif %}
                    {% if Data.salary %}					
                        <div class="pdetail">

                            <i class="fa fa-dollar idsize icons-detail"></i>
                            ${{Data.salary | number_format}} 
                            {% if Data.id_currency == 1 %}MXN{% endif %}
                            {% if Data.id_currency == 2 %}USD{% endif %}

                        </div>
                    {% endif %}					
                    {% if Data.phone_number %}
                        <div class="pdetail">
                            <i class="fa fa-phone idsize icons-detail"></i> {{Data.phone_number}}
                        </div>
                    {% endif %}
                    {% if Data.city_name %}					
                        <div class="pdetail">
                            <i class="fa fa-home idsize icons-detail"></i> {{Data.city_name}}
                        </div>
                    {% endif %}
                    {% if Data.email %}
                        <div class="pdetail">
                            <i class="fa fa-envelope idsize icons-detail"></i> {{Data.email}}
                        </div>
                    {% endif %}
                </div>                                
                <hr class="hrhome"/>
                <div class="row mtop2">
                    <div class="col-sm-12">
                        <span class="description-detail">Descripci&oacute;n:</span>
                        <br/><br/>
                        <p class="descriptionsize">
                            {{Data.job_description|raw}}
                        </p>						
                    </div>
                    {% if Data.file.file_name %}
                        <div class="col-xs-12">						
                            <a href="{{ Core.Domains.core }}empresa/agendar/viewDocument/{{Data.file.file_name}}" target="_blank" class="btn"> <i class="fa fa-download"></i> {{Data.attachment_name}}</a>
                        </div >
                    {% endif %}
                </div>
                <div class="row mtop">
                    <div class="col-sm-12">
                        <span class="description-detail">Requisitos:</span>
                        <br/><br/>
                        <ul id="requirements">
                            {% if Data.min_age or Data.max_age %}
                                <li><strong>Edad:</strong> 
                                    {% if Data.min_age and Data.max_age %}
                                        Entre {{Data.min_age}} y {{Data.max_age}} a&ntilde;os
                                    {% endif %}
                                    {% if Data.min_age and Data.max_age == 0 %}
                                        Mayores a {{Data.min_age}} a&ntilde;os
                                    {% endif %}
                                    {% if Data.min_age == 0 and Data.max_age %}
                                        Menores a {{Data.max_age}} a&ntilde;os
                                    {% endif %}
                                </li>
                            {% endif %}
                            {% if Data.sex != NULL %}
                                <li><strong>Sexo:</strong> 
                                    {% if Data.sex == 2 %}Indistinto{% endif %}
                                    {% if Data.sex == 0 %}Mujer{% endif %}
                                    {% if Data.sex == 1 %}Hombre{% endif %}
                                </li>
                            {% endif %}	
                            {% if Data.id_travel_availability != NULL %}						
                                <li><strong>Disponibilidad para viajar:</strong> 
                                    {% if Data.id_travel_availability == 0 %}Indistinto{% endif %}
                                    {% if Data.id_travel_availability == 1 %}Sí, nacional{% endif %}
                                    {% if Data.id_travel_availability == 2 %}Sí, nacional{% endif %}
                                    {% if Data.id_travel_availability == 3 %}Sí, nacional e internacional{% endif %}
                                    {% if Data.id_travel_availability == 4 %}No{% endif %}
                                </li>
                            {% endif %}
                            {% if Data.industries %}
                                <li><strong>Industria:</strong>																
                                    {% set Industria = [] %} 							
                                    {% for item in Data.industries %}
                                        {% set Industria = Industria|merge([item.value]) %}              	
                                    {% endfor %}
                                    {{ Industria | join(', ') }}		
                                </li>
                            {% endif %}
                            {% if Data.languages %}
                                <li><strong>Idiomas:</strong>	
                                    {% set Idiomas = [] %} 							
                                    {% for item in Data.languages %}
                                        {% set Idiomas = Idiomas|merge([item.value]) %}              	
                                    {% endfor %}
                                    {{ Idiomas | join(', ') }}								
                                </li>
                            {% endif %}	
                            {% if Data.education %}							
                                <li><strong>Educación:</strong> {{Data.education}}</li>	
                                {% endif %}					
                        </ul>
                        <br>
                        {% if Data.for_candidates == 1 %}
                            <hr>							
                            {% if Data.applied.created %}
                                <div class="alert alert-success">
                                    Has aplicado a este empleo
                                    <br>
                                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{Data.applied.created|date("d/m/Y H:i")}}
                                </div>
                            {% else %}
                                <div class="text-right"><div class="btn apply-btn-body btnApply">Aplicar a este empleo</div></div>
                                <div class="alert response-apply" style="display:none"></div>
                            {% endif %}																					
                        {% endif %}
                    </div>					

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            {% if Data.for_candidates == 1 %}
                {% if Data.applied.created %}
                    <div class="alert alert-success">
                        Has aplicado a este empleo
                        <br>
                        <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{Data.applied.created|date("d/m/Y H:i")}}
                    </div>
                {% else %}
                    <div class="btn apply-btn btnApply">Aplicar a este empleo</div>
                    <div class="alert response-apply" style="display:none"></div>
                {% endif %}	
                <hr>
            {% endif %}
            {% if Data.lat != 0 and Data.lng != 0  %}				
                <div id="border_google_map_detail" class="img-thumbnail">
                    <div class="image" id="google_map_detail"></div>			
                </div>
            {% else %}
                <br>
            {% endif %}		
            <div>
                {% if Data.street != '' %}
                    {{Data.street}} {% if Data.number != '' %} #{{Data.number}}{% endif %}
                    <br>
                {% endif %}
                {% if Data.city_name != '' %}
                    <strong>{{Data.city_name}}</strong>
                    <br>
                {% endif %}
                {% if Data.subdivision_1_name != '' %}				
                    {{Data.subdivision_1_name}}
                    <br>
                {% endif %}
                {% if Data.country_name != '' %}
                    {{Data.country_name}}
                    <br>
                {% endif %}
                {% if Data.zip_code != '' %}
                    CP: {{Data.zip_code}} 
                {% endif %}
            </div>
        </div>

    </div>
    <input type="hidden" value="{{Data.lat}}" id="vacancy_lat_detail">
    <input type="hidden" value="{{Data.lng}}" id="vacancy_lng_detail">
{% else %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <i class="fa fa-times"></i> La vacante no existe
        </div>
    </div>
{% endif%}