{% if Data.vacancies.rows %}	
	{% for item in Data.vacancies.rows %}	
	{% if Data.open %}
	<a href="{{ Core.Domains.core }}web/bienvenido/detalle_oferta/{{item.id}}/{{item.position|replace({' ': '_'})}}">
	{% endif %}
		<div class="vacancy {{item.search_rate}}" vacancy-id="{{item.id}}">			
			<div class="row">
				{% if Data.open %}
				<div class="col-md-2">			
					{% if item.logo %}
					<img src="{{item.logo}}" width="100" class="img-thumbnail" alt="{{item.company}}" title="{{item.company}}" data-toggle="tooltip" data-placement="bottom">
					{% else %}
						<div class="img-thumbnail text-company-logo" data-toggle="tooltip" data-placement="bottom" title="{{item.company}}">{{item.company}}</div>
					{% endif %}
				</div>				
				{% endif %}
				{% if Data.open %}
				<div class="col-md-10">
				<div class="row section-vacancy-card">
				{% endif %}
				<div class="col-md-10">
					<span class="position-name">{{item.position}}</span>
				</div>		
				<div class="col-md-2 applied-status" {% if not item.applied %}style="display:none"{% endif %}>
					<div class="alert alert-success applied"> <i class="fa fa-check"></i> Has aplicado </div>
				</div>		
				<div class="col-md-12 location" >
					<i class="fa fa-calendar"></i> <span>{{item.modified|date('d/m/Y')}}</span>
					<span class="pipe">-</span> 
					<i class="fa fa-map-marker"></i> 
					{% if item.city_name != '' %}
						<strong>{{item.city_name}}</strong>
						,
					{% endif %}
					{% if item.subdivision_1_name != '' %}						
						{{item.subdivision_1_name}}
						,
					{% endif %}
					{% if item.country_name != '' %}
						{{item.country_name}}
						
					{% endif %}			
				</div>		
				<div class="col-md-12 job_description">
					<hr>
					{{item.job_description|raw}}							
				</div>
				{% if Data.open %}
				</div>
				</div>
				{% endif %}
			</div>					
		</div>
	{% if Data.open %}
	</a>
	{% endif %}		
	{% endfor %}
	<div class="row" style="display:none">
		<div class="col-md-12" id="loadingSection">
			<div class="loading">
				<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp; Cargando...
			</div>
		</div>
	</div>
	<input type="hidden" value="{{Data.total_rows}}" id="vacanciesTotal"/>
	<input type="hidden" value="{{Data.jsongroups}}" id="jsongroups"/>
	{% if Data.candidate.name %}
	<input type="hidden" value="{{Data.candidate.name ~ ' ' ~ Data.candidate.last_name}}" id="CandidateNameHidden"/>
	{% endif %}
{% else %}
<div class="row"><div class="col-md-12 text-center"><h1>No hay resultados</h1></div></div>
{% endif %}