{% extends 'default.twig' %}

{% block content %}
<!-- start banner area -->
<section id="bannerArea">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron text-center">
                    <h3 class="banner_header">Lorem Ipsum is simply</h3>
                    <h2 class="banner_header">Typesetting<br> industry</h2>
                    <p class="banner_header">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard specimen book.</p>
                </div>            	
            </div>
        </div>
    </div>
    <span class="overlay"></span>
</section>
<!-- end banner area -->

<!-- start service area -->
<section id="serviceArea">
            <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Lorem ipsum </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <i class="glyphicon glyphicon-camera"></i>    
                <h3>Lorem ipsum </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard specimen book.</p>
            </div>

            <div class="col-md-4 col-sm-6">
                <i class="glyphicon glyphicon-picture"></i>    
                <h3>Lorem ipsum </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard specimen book.</p>
            </div>

            <div class="col-md-4 col-sm-6">
                <i class="glyphicon glyphicon-facetime-video"></i>    
                <h3>Lorem ipsum </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard specimen book.</p>
            </div>

            <div class="col-md-4 col-sm-6">
                <i class="glyphicon glyphicon-tags"></i>    
                <h3>Lorem ipsum </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard specimen book.</p>
            </div>

            <div class="col-md-4 col-sm-6">
                <i class="glyphicon glyphicon-phone"></i>    
                <h3>Lorem ipsum </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard specimen book.</p>
            </div>

            <div class="col-md-4 col-sm-6">
                <i class="glyphicon glyphicon-cutlery"></i>    
                <h3>Lorem ipsum </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard specimen book.</p>
            </div>

        </div>

    </div>
</section>
<!-- end service area -->

<!-- start works area -->
<section class="worksArea">
            <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Lorem Ipsum is simply</h2>
                <h3>Lorem Ipsum is simply dummy text of the</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <a href="#"><img class="img-thumbnail img-responsive" src="{{ Core.Domains.theme }}/images/image_500x400.jpg" alt=""></a>
            </div>

            <div class="col-sm-4">
                <a href="#"><img class="img-thumbnail img-responsive" src="{{ Core.Domains.theme }}/images/image_500x400.jpg" alt=""></a>
            </div>

            <div class="col-sm-4">
                <a href="#"><img class="img-thumbnail img-responsive" src="{{ Core.Domains.theme}}/images/image_500x400.jpg" alt=""></a>
            </div>

        </div>

    </div>
</section>
<!-- end works area -->

    <hr>

<!-- start works area -->
<section class="worksArea">
            <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Lorem Ipsum </h2>
                <h3>Lorem Ipsum is simply dummy text of the</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
            </div>
        </div>

        <div class="row text-center">

            <div class="col-sm-6 col-md-3">
                <a href="#"><img class="img-responsive img-circle" src="{{ Core.Domains.theme }}/images/image_500x500.jpg" alt=""></a>
                <h4>Lorem Ipsum</h4>
                <p>Simply dummy text of the</p>
            </div>

            <div class="col-sm-6 col-md-3">
               <a href="#"><img class="img-responsive img-circle" src="{{ Core.Domains.theme }}/images/image_500x500.jpg" alt=""></a>
                <h4>Lorem Ipsum</h4>
                <p>Simply dummy text of the</p>
            </div>

            <div class="col-sm-6 col-md-3">
                <a href="#"><img class="img-responsive img-circle" src="{{ Core.Domains.theme }}/images/image_500x500.jpg" alt=""></a>
                <h4>Lorem Ipsum</h4>
                <p>Simply dummy text of the</p>
            </div>

            <div class="col-sm-6 col-md-3">
                <a href="#"><img class="img-responsive img-circle" src="{{ Core.Domains.theme }}/images/image_500x500.jpg" alt=""></a>
                <h4>Lorem Ipsum</h4>
                <p>Simply dummy text of the</p>
            </div>

        </div>

    </div>
</section>
<!-- end works area -->

<!-- start people area -->
<section id="peopleArea">
            <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Lorem Ipsum </h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of survived not only five centuries, but also the leap into electronic typesetting.</p>
                <h3>Lorem Ipsum is simply dummy</h3>
                <div class="clearfix"></div>
                <ul class="list-unstyled list-inline">
                    <li><a href="#" class="btn">Lo</a></li>
                    <li><a href="#" class="btn">Re</a></li>
                    <li><a href="#" class="btn">Mo</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="bg"></div>
</section>
<!-- end people area -->

{% endblock %}