{# <?php ?> #}
<table cellpadding="0px" cellspacing="0px" style="width:600px; border:solid 1px #666666; font-family: Arial, Helvetica, sans-serif;">
    <tr style="height:100px; background-color: #eaeaea;">
        <td style="border-bottom:solid 3px #006b78;">
            <img style="margin-left: 30px;" src="{{ Core.Domains.theme }}images/logohorizontal.png" />
        </td>
    </tr>
    <tr height="500px">
        <td style="padding:30px;">
            <p>Estimado(a) <b>{{Data.name}} {{Data.last_name}}</b></p>
            <br/>

            <p>Tu cuenta en <b>SuperChamba.com</b> ha sido creada con &eacute;xito. Tus datos de acceso se muestran a continuaci&oacute;n.</p></b><br/>

            Usuario: <b>{{Data.email}}</b>            
            <br/><br/>
            Haz clic en el siguiente enlace para activar tu cuenta y crear tu contrase&ntilde;a.
            <br/><br/><br/><br/>
            <a style="text-decoration:none;" href="{{ Core.Domains.core }}web/admin/activate/{{Data.token}}"><div style="width:250px; height:34px; background-color:#ff7900; border-bottom: solid 4px #ff6400; margin:auto; font-size:18px; color:#fff; text-align:center; padding-top:12px;"><b>Confirmar mi cuenta</b></div></a>
        </td>
    </tr>
    <tr>
        <td align="center" valign="middle" style="background-color:#006b78; padding:10px; color:#fff;">
            <img src="{{ Core.Domains.theme }}images//mail.png" style="margin-right:5px;" />
            <span>
                <a href="mailto:{{ Theme.Globals.companySupport }}" style="color: #FFF;text-decoration: none;">{{ Theme.Globals.companySupport }}</a>
            </span>
        </td>
    </tr>
</table>