<table style="width:612px; height: 810px; border:solid 1px #999; font-family:Arial, Helvetica, sans-serif;" align="center" cellpadding="0" cellspacing="0">
    <tr height="10%">
        <td width="10%" style="padding: 10px;">
            <img src="{{ Core.Domains.theme }}images/logo_email.png" alt="SuperChamba.com" style="margin-left: 5px;"/>
        </td>
        <td width="10%" style="padding: 10px;">
        </td>
        <td width="20%">
        </td>
        <td widt="50%">
            <span style="font-size: 30px; font-weight: bold; color:#e6378c;">Comprobante de cita</span>
        </td>
    </tr>
    <tr bgcolor="#eaeaea" height="35%">
        <td colspan="3" valign="top" style="padding: 10px 10px 0 10px;">
            <table>
                <tr>
                    <span style="font-size:26px; font-weight: bold; color:#e6378c;">{{Data.candidate.name}} <!--({{Data.candidate.age}})--></span>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:16px; font-weight: bold;">Delegaci&oacute;n {{Data.candidate.delegation}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:14px; color:#000; font-weight: bold; padding-top: 10px; display: block;">Fecha:</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:12px;">{{Data.schedule.dayofweek}}, {{Data.schedule.day}} de {{Data.schedule.month}} del {{Data.schedule.year}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:14px; color:#000; font-weight: bold; padding-top: 10px; display: block;">Hora:</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:12px;">{{Data.schedule.time}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:14px; color:#000; font-weight: bold; padding-top: 10px; display: block;">N&uacute;mero de folio:</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:12px;">{{Data.candidate.folio}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:14px; color:#000; font-weight: bold; padding-top: 10px; display: block;">Tel&eacute;fono de la oficina:</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:12px;">Tel: {{Data.office.phone}}</span>
                    </td>
                </tr>
            </table>
        </td>
        <td valign="top">
            <img src="{{ Data.map }}" style="width:300px; height: 177px;" />
            <br/>
            <br/>
            <span style="font-size:14px; color:#000; font-weight: bold; display: block; margin-bottom: 10px;">{{Data.office.name}}</span>
            <span style="font-size:12px; color:#000; display: block;">{{Data.office.name}} #{{Data.office.number}},<br/>Col. {{Data.office.colony}}, C.P. {{Data.office.zip_code}},<br/>Del. {{Data.office.delegation}}, M&eacute;xico, D.F.</span>
        </td>
    </tr>
    <tr height="15%">
        <td colspan="4" valign="top" style="padding: 10px 10px 0 10px;">
            <table>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:12px;">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="5" border="0" style="font-size:12px; width:100%;margin-top: 15px;">
                            <thead style="height: 30px; background-color: #ffbb00;">
                                <tr>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="background-color:#f5f5f5;">
                                </tr>
                                <tr>
                                </tr>
                                <tr  style="background-color:#f5f5f5;">
                                </tr>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4" style="padding: 0 20px 0 20px;">
            
        </td>
    </tr>
</table>
{% if Data.action == "print" %}
<script>
    window.onload = function() { window.print(); }
</script>
{% endif %}