{# <?php ?> #}
<table align="center" cellpadding="0px" cellspacing="0px" style="width:600px; border:solid 1px #666666; font-family: Arial, Helvetica, sans-serif;">
    <tr style="height:100px; background-color: #eaeaea;">
        <td style="border-bottom:solid 3px #006b78;">
            <img style="margin-left: 30px;" src="{{ Core.Domains.theme }}images/logohorizontal.png" />
        </td>
    </tr>
    <tr height="500px">
        <td style="padding:30px;">
            <p>Estimado(a) <b>{{Data.name}} {{Data.last_name}}</b></p>
            <br/>
            <p>Tu cuenta ha sido creada con &eacute;xito.
                <br/><br/>Tus datos de acceso se muestran a continuaci&oacute;n.
            </p>
            <br/>
            Usuario: <b>{{Data.email}}</b><br/>
            Contrase&ntilde;a: <b>{{Data.password}}</b><br/>
            <br/><br/>			            
			{% if Data.vacancy.aplicant %}
			Haz clic en el siguiente enlace para confirmar tu cuenta.
            <br/><br/><br/><br/>
			<a style="text-decoration:none;" href="{{ Core.Domains.core }}web/bienvenido/detalle_oferta/{{Data.vacancy.id}}/{{Data.vacancy.position|replace({' ': '_'})}}&aplicant={{Data.vacancy.aplicant}}"><div style="width:250px; height:34px; background-color:#ff7900; border-bottom: solid 4px #ff6400; margin:auto; font-size:18px; color:#fff; text-align:center; padding-top:12px;"><b>Confirmar mi cuenta y aplica a la vacante</b></div></a>
			{% else %}
				{% if Data.carrer_site == 0 %}
			Haz clic en el siguiente enlace para confirmar tu cuenta.
            <br/><br/><br/><br/>			
            <a style="text-decoration:none;" href="{{ Core.Domains.core }}web/admin/verifyEmail/{{Data.token}}"><div style="width:250px; height:34px; background-color:#ff7900; border-bottom: solid 4px #ff6400; margin:auto; font-size:18px; color:#fff; text-align:center; padding-top:12px;"><b>Confirmar mi cuenta</b></div></a>
				{% endif %}
			{% endif %}
        </td>
    </tr>
    <tr>
        <td align="center" valign="middle" style="background-color:#006b78; padding:10px; color:#fff;">
            <img src="{{ Core.Domains.theme }}images//mail.png" style="margin-right:5px;" />
            <span>
                <a href="mailto:{{ Theme.Globals.candidateSupport }}" style="color: #FFF;text-decoration: none;">{{ Theme.Globals.candidateSupport }}</a>
            </span>
        </td>
    </tr>
</table>