{# <?php ?> #}
<table align="center" cellpadding="0px" cellspacing="0px" style="width:600px; height: 500px; border:solid 1px #999999; font-family: Arial, Helvetica, sans-serif;">
    <tr style="height:100px; background-color: #eaeaea;">
        <td style="border-bottom:solid 3px #006b78;">
            <img style="margin-left: 30px;" src="{{ Core.Domains.theme }}images/logohorizontal.png" />
        </td>
    </tr>
    <tr>
        <td style="padding:30px;" valign="top">
            <p>Estimado(a) <b>{{Data.name}}</b></p>
            <p>&iquest;No pudiste asistir a tu cita?</p>

            <p>Te invitamos a ingresar nuevamente a la p&aacute;gina de <a href="http://www.superchamba.com/">superchamba.com</a> para agendar una cita y completar tu proceso de registro al Programa SuperChamba.com.</p>

            <p>&iexcl;Te esperamos!</p>
            <br/><br/>
            <a style="text-decoration:none;" href="{{Core.Domains.core}}web/acceso/index/3"><div style="width:250px; height:34px; background-color:#ff7900; border-bottom: solid 4px #ff6400; margin:auto; font-size:18px; color:#fff; text-align:center; padding-top:12px;"><b>Reagendar cita</b></div></a>
        </td>
    </tr>
    <tr>
        <td align="center" valign="middle" style="height: 36px; background-color:#006b78; padding:10px; color:#fff;">
            <img src="{{ Core.Domains.theme }}images//mail.png" style="margin-right:5px;" />
            <span>
                <a href="mailto:{{ Theme.Globals.candidateSupport }}" style="color: #FFF;text-decoration: none;">{{ Theme.Globals.candidateSupport }}</a>
            </span>
        </td>
    </tr>
</table>