{# <?php ?> #}
{% extends 'default.twig' %}
{% block content %}
    <!-- start main area -->
    <section id="mainArea">
        <div class="container" id="voucher-container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-7">Comprobante para Centro de Pruebas</div>
                    <div class="col-md-5" style="text-align: right">
                         <a id="btn-print-comp" class="btn" href="{{ Core.Domains.core }}candidato/comprobante/cdp/{{Get.1}}/print" target="_blank">
                            <i class="fa fa-print"></i> Imprimir comprobante
                        </a>
                    </div>
                </div>
                 
               
            </div>
            <table border="0" align="center" class="comprobante mtop">
                <tr height="9%">
                    <td width="40%">
                        <div class="col-md-12">

                        </div>
                    <td>
                        <div class="headcomprobante">Comprobante de cita</div>
                    </td>
                    </td>
                </tr>
                <tr height="30%" valign="bottom" bgcolor="#eaeaea">
                    <td width="50%" style="vertical-align: top; padding-left: 20px; padding-top: 15px;">
                            <h2 class="pink">{{Data.candidate.name}} <!--({{Data.candidate.age}})--></h2>
                            <h3>{{Data.candidate.delegation}}</h3>
                            <br/>
                            <h4>Fecha:</h4>
                            <p>{{Data.schedule.dayofweek}}, {{Data.schedule.day}} de {{Data.schedule.month}} del {{Data.schedule.year}}<p>
                            <h4>Hora:</h4>
                            <p>{{Data.schedule.time}}<p>
                            <h4>Número de Folio:</h4>
                            <p>{{Data.candidate.folio}}<p>
                            <h4>Teléfono de la oficina:</h4>
                            <p>Tel: {{Data.office.phone}}<p>
                    </td>
                    <td width="50%" style="vertical-align: top; padding-top: 15px;">
                        <img src="{{ Data.map }}" />
                        <br/>
                        <br/>
                        <h4>{{Data.office.name}}</h4>
                        <p>{{Data.office.name}} #{{Data.office.number}},<br/>Col. {{Data.office.colony}}, C.P. {{Data.office.zip_code}},<br/>Del. {{Data.office.delegation}}, M&eacute;xico, D.F.</p>
                    </td>
                </tr>
                <tr valign="top">
                    <td colspan="2">
                        <div class="col-md-12">
                            <br/>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="black">
                                        <tr>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="active">
                                        </tr>
                                        <tr>
                                        </tr>
                                        <tr class="active">
                                        </tr>
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                            
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <!-- end main area -->
{% endblock %}