{# <?php ?> #}
{% extends 'default.twig' %}
{% block content %}
    <!-- start main area -->
    <section id="mainArea">
        <div class="row mtop">
            <div class="col-md-12 tacenter">
                <div class="steps">
                    <img src="{{ Core.Domains.theme }}images/step3.png" alt="paso2" />
                </div>
            </div>
        </div>
        <div class="container" id="voucher-container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-7">Comprobante</div>
                    <div class="col-md-5 taright">
                         <a id="btn-print-comp" class="btn" href="{{ Core.Domains.core }}candidato/comprobante/index/print">
                            <i class="fa fa-print"></i> Imprimir comprobante
                        </a>
                    </div>
                </div>
            </div>
            <table border="0" align="center" class="comprobante mtop">
                
                <tr height="30%" valign="bottom" bgcolor="#eaeaea">
                    <td width="50%" style="vertical-align: top; padding-left: 20px; padding-top: 15px;">
                            <h2 class="pink">{{Data.candidate.name}} <!--({{Data.candidate.age}})--></h2>
                            <h3>Delegaci&oacute;n {{Data.candidate.delegation}}</h3>
                            <br/>
                            <h4>Fecha:</h4>
                            <p>{{Data.schedule.dayofweek}}, {{Data.schedule.day}} de {{Data.schedule.month}} del {{Data.schedule.year}}<p>
                            <h4>Hora:</h4>
                            <p>{{Data.schedule.time}}<p>
                            <h4>Número de Folio:</h4>
                            <p>{{Data.candidate.folio}}<p>
                            <h4>Teléfono de la oficina:</h4>
                            <p>Tel: {{Data.office.phone}}<p>
                    </td>
                    <td width="50%" style="vertical-align: top; padding-top: 15px;">
                        <img src="{{ Data.map }}" />
                        <br/>
                        <br/>
                        <h4>{{Data.office.name}}</h4>
                        <p>{{Data.office.name}} #{{Data.office.number}},<br/>Col. {{Data.office.colony}}, C.P. {{Data.office.zip_code}},<br/>Del. {{Data.office.delegation}}, M&eacute;xico, D.F.</p>
                    </td>
                </tr>
                <tr valign="top">
                    <td colspan="2" class="tablepadding">
                            <br/>
                            <h4 class="pink">Lista de documentos ORIGINALES:</h4>
                            <p>Estos son los documentos que necesitarás para poder seguir con el proceso. Para tener un mejor control, marca con una <b>x</b> los documentos que ya tienes.<br/></p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="black">
                                        <tr>
                                            <th>Documentos ORIGINALES</th>
                                            <th>Listo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="active">
                                            <td><b>Acta de Nacimiento</b></td>
                                            <td><i class="fa fa-square-o fa-2x"></i></td>
                                        </tr>
                                        <tr>
                                            <td><b>Comprobante de domicilio*</b></td>
                                            <td><i class="fa fa-square-o fa-2x"></i></td>
                                        </tr>
                                        <tr class="active">
                                            <td>
                                                <b>
                                                    {% if Data.candidate >= 18 %}
                                                        Credencial de elector
                                                    {% else %}
                                                        Carta de autorizaci&oacute;n firmada por tus padres o tutores legales
                                                    {% endif %}
                                                </b>
                                            </td>
                                            <td><i class="fa fa-square-o fa-2x"></i></td>
                                        </tr>
                                        <tr>
                                            <td><b>Comprobante de &uacute;ltimos estudios terminados</b></td>
                                            <td><i class="fa fa-square-o fa-2x"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br/>
                            <h6>NOTA:
                                <br/><br/>
                                * &Uacute;nicamente se permitir&aacute; presentar recibos originales de PREDIAL o AGUA o LUZ o TEL&Eacute;FONO con vigencia de hasta tres meses.
                                <br/><br/>
                                Es necesario que tu INE / IFE y tu comprobante de domicilio tengan la misma direcci&oacute;n, de lo contrario no podr&aacute;s continuar con tu proceso de registro.
                                <br/><br/>
                                Adem&aacute;s de traer tu IFE en original, es necesario que te presentes con 1 copia fotost&aacute;tica legible de tu IFE por ambas caras, visibles en la misma hoja
                                <br/><br/>
                                Recuerda que si NO cuentas con todos los documentos requeridos en ORIGINAL, no se te permitir&aacute; continuar con el proceso y tendr&aacute;s que reagendar tu cita. As&iacute; mismo, te pedimos lleves contigo el FOLIO proporcionado en este correo electr&oacute;nico.
                            </h6>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <!-- end main area -->
{% endblock %}