<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="IE=9" http-equiv="X-UA-Compatible">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta charset="utf-8">
        <title>{{ Data.title }}</title>
        <link rel="icon" href="{{ Core.Domains.theme }}images/faviconu.ico" type="image/x-icon">
        <!-- Bootstrap -->		
        <link href="{{ Core.Domains.theme }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ Core.Domains.theme }}css/jquery-ui.css" rel="stylesheet">
        <link href="{{ Core.Domains.theme }}css/font-awesome.css" rel="stylesheet">
        <link href="{{ Core.Domains.theme }}php/general.css" rel="stylesheet">        
        <link href="{{ Core.Domains.theme }}css/jquery.fileupload.css" rel="stylesheet">        
        {{ View.CSS|raw }}
        {{ Modules.top.css|raw }}
        <link href="{{Core.Domains.theme}}css/{{Browser.os}}/{{Browser.name}}.css" rel="stylesheet" type="text/css" />
        <script src="{{ Core.Domains.theme }}js/jquery-1.10.2.min.js"></script>
        {{ Modules.top.js|raw }}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {{ Widgets.ALL|raw }}        
    </head>
    <body role="document">
        {% include('header.twig') %}
        <div class="container-fluid">
        {% block content %}{% endblock %}
    </div> <!-- /container -->
    {% include('footerAdmin.twig') %}
    {{ View.JS|raw }}
    {{ Modules.bottom.css|raw }}
    {{ Modules.bottom.js|raw }}






    
    <script src="{{ Core.Domains.theme }}js/jquery.jcryption.3.0.1.js"></script>
    <script src="{{ Core.Domains.core }}js/jquery-ui-1.10.3.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ Core.Domains.theme }}js/bootstrap.min.js"></script>		
    <script src="{{ Core.Domains.theme }}js/retina-1.1.0.min.js"></script>
    <script src="{{ Core.Domains.theme }}php/general.js"></script>  





    <script src="{{ Core.Domains.theme }}js/jquery.iframe-transport.js"></script>  
    <script src="{{ Core.Domains.theme }}js/jquery.fileupload.js"></script>  
    <script src="{{ Core.Domains.theme }}js/jquery.ui.widget.js"></script> 

    <script src="{{ Core.Domains.theme }}mvc/views/admin/js/checkform.js"></script>



</body>
</html>