<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default mbottom">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-7">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-search"></i></span>
                          <input id="bus_search" type="text" class="form-control" placeholder=" {{Data.Messages.search}}">
                        </div>
                    </div>
                    <div class="col-md-5 right-oriented">
                    </div>
                </div>
            </div>
            <div class="panel-body busquedas-panel-1">
                <div id="busquedas-results">                            
                </div>
            </div>
            <div class="panel-footer" id="footer-panel-left">
                <div class="row">
                    <div class="col-md-5">
                        <span id="total-searches" class="white"></span> <span class="white">{{Data.Messages.totalsearches}}</span>
                    </div>
                    <div class="col-md-7 right-oriented" id="bus_paginator">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading" id="panel-heading-adjust">
                <div class="row">
                    <div class="col-md-7">
                        <h3 class="panel-title" id="panel_title">{{Data.Messages.searchdetail}}</h3>
                    </div>
                    <div class="col-md-5 right-oriented">
                        <button type="button" class="btn btn-default btngreen" onclick="_filterset.view('add')">
                            <i class="fa fa-plus-square"></i>
                            <span class="txt-inside-button">{{Data.Messages.newfilterset}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body busquedas-panel">
                <div id="busquedas-view">
                    <i class='fa fa-arrow-down fa-3x filters-panel-icon'></i>
                    <div class='filters-panel-message'>
                        {{Data.Messages.selectsearch}}
                    </div>
                </div>
            </div>
            <div class="panel-footer" id="panel-footer-adjust">                        
            </div>
        </div>
    </div>
</div>
