{% extends 'default.twig' %}
{% block content %}
<!-- start main area -->
<section id="mainArea">
    <div class="row mtop">
        <div class="col-md-12" style="text-align: center;">
            <div class="steps">
                <img src="{{ Core.Domains.theme }}images/step2.png" alt="paso2" />
            </div>
        </div>
    </div>
    <div class="section-title">
        Tu cita
    </div>
    <div class="container mtop">
        <div class="row mbottom">
            <div class="col-md-6">
                <div class="mapa mtop">
                    <img src="{{ Data.map }}" />
                    <div class="barra-mapa">
                        <h5 class="txtmapa">{{Data.Module.name}}</h5>
                        <p class="txtmapa">Calle {{Data.Module.address}} #{{Data.Module.number}}, Col. {{Data.Module.colony}},<br/>
                            C.P. {{Data.Module.zip_code}}, Del. {{Data.Module.delegation}}, M&eacute;xico, D.F.<br/>
                            Tel: {{Data.Module.phone}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    Lista de documentos
                </div>
                <p class="mtop">Éstos son los documentos que deber&aacute;s presentar en tu cita.
                    Te recomendamos verificar que cuentes con todos ellos, ya que de lo contrario, no podr&aacute;s continuar con el proceso y tendr&aacute;s que reagendar tu cita.</p>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="black">
                            <tr>
                                <th>Documento</th>
                                
                                <th>Listo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active">
                                <td><b>Acta de Nacimiento</b></td>
                                
                                <td><i class="fa fa-square-o fa-2x"></i></td>
                            </tr>
                            <tr>
                                <td><b>Comprobante de domicilio</b></td>
                                
                                <td><i class="fa fa-square-o fa-2x"></i></td>
                            </tr>
                            <tr class="active">
                                <td>
                                    <b>
                                        {% if Data.candidate >= 18 %}
                                            Credencial de elector
                                        {% else %}
                                            Carta de autorizaci&oacute;n firmada por tus padres o tutores legales
                                        {% endif %}
                                    </b>
                                </td>
                                
                                <td><i class="fa fa-square-o fa-2x"></i></td>
                            </tr>
                            <tr>
                                <td><b>Comprobante de &uacute;ltimos estudios terminados</b></td>
                                
                                <td><i class="fa fa-square-o fa-2x"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="subtitle">
                    Elige tu cita
                </div>
                <p class="mtop">Elige el horario y el d&iacute;a que m&aacute;s te convengan</p>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align:center;">                    
                    {% for key,data in Data.Scheduler.Slots %}
                        <div class="box" id="Option-{{loop.index}}">
                            <div class='front-flip' onclick="_flip({{loop.index}})">
                                <p class='calendar-day-month'>{{data.month}}</p>
                                <p class='calendar-day-day'>{{data.day}}</p>
                                <p class='calendar-day-dayofweek'>{{data.dayofweek}}</p>
                            </div>
                            <div class='back-flip'>
                                <div class='calendar-day-header' onclick="_flip({{loop.index}})">
                                    {{data.dayofweek}}, {{data.day}} de {{data.month}}
                                </div>
                                <br>
                                <p onclick="_flip({{loop.index}})">Elige una hora para tu cita:</p>
                                <select>
                                    {% for slot in data.times %}
                                        <option value='{{slot.value_date}}' label-text='{{ slot.time }}'>{{ slot.time }}</option>
                                    {% endfor %}
                                </select>
                                <div onclick="_flip({{loop.index}})" class='calendar-day-clickable'>
                                </div>
                            </div>
                        </div>
                    {% endfor %} 
                </div>                          
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4" align="center">
                    <div class="btn mbottom mtop" data-toggle="modal" data-target="#calendar-day-confirmation" id='calendar-day-modal'>
                    Agendar mi cita
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end main area --->  

<!-- Modal -->
<div class="modal fade" id="calendar-day-confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmar mi cita</h4>
      </div>
      <div class="modal-body">
          <span id='calendar-day-final-schedule'></span>
          <br>
          <div class="alert alert-warning" role="alert" id="calendar-day-warning"><strong>¡Lo sentimos!</strong> Este horario ya no esta disponible, selecciona otro.</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id='calendar-day-confirmation-btn'>Confirmar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}